<template>
	<div v-if="isAdmin" class="c-list__wrapper">
		<hero :title="title" :user="user">
      <p slot="header-title" class="c-header__title">Баннеры</p>  
    </hero>
		<menuNavigation v-if="isAdmin" :active="$route.name"></menuNavigation>
		<div class="l-container--sm">
      <div class="c-list__section">
      	<table class="c-list">
      		<tr class="c-list__row c-list__row--head">

            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text">№</p>
            </td>

            <td class="c-list__col c-list__item">
              <p class="c-list__table-text">Заголовок</p>
            </td>

            <td class="c-list__col c-list__item">
              <p class="c-list__table-text">Текст</p>
            </td>

            <td class="c-list__col c-list__col--half c-list__col--lg c-list__item">
              <p class="c-list__table-text">Фон</p>
            </td>

      		</tr>
      		<tr 
      			class="c-list__row"
      			v-for="( item, index ) in sortedArray"
      			:class="{ 'c-list__row--duplicate': item.duplicated, 'even': index % 2 === 0 }"
      			@click="showModal('update', 'Редактировать'); banner.id = item._id; createInputContent(); createEventInfo();"
    			>

            <td class="c-list__col c-list__col--md c-list__item c-list__item--top-left">
              <div class="l-flex-row l-flex-row--top">
                <p class="c-list__table-text">
                  {{ index + 1 }}
                </p>
                <div class="c-list__order">
                  <button v-if="index !== 0" @click.stop="upOrder(item._id)" class="c-list__order-arrow c-list__order-arrow--top" title="На один вверх"></button>
                  <button v-if="index !== locat.length - 1" @click.stop="downOrder(item._id)" class="c-list__order-arrow c-list__order-arrow--bot" title="На один вниз"></button>
                </div>
              </div>
            </td>
            
            <td class="c-list__col c-list__item c-list__item--top-left">
              <p class="c-list__table-text">{{ item.title }}</p>
            </td>

            <td class="c-list__col c-list__item c-list__item--top-left">
              <p class="c-list__table-text">{{ item.text }}</p>
            </td>

            <td class="c-list__col c-list__col--half c-list__col--lg c-list__item">
              <div class="c-list__table-img" :style="{ 'background-image': `url('${$root.$http.$options.root?$root.$http.$options.root:''}/${item.img}')`}"></div>
            </td>

      		</tr>
      	</table>
      </div>	
		</div>
    <modal v-if="modal.show === 'update'" @close="closeModal(); cleanData();">
      <template slot="nav-btn">
        <input class="c-modal__nav-btn c-modal__nav-btn--save" @click="updateBanner" type="submit" value="Сохранить правки">
        <button v-if="modal.title === 'Редактировать'" @click="deleteBanner" class="c-modal__nav-btn c-modal__nav-btn--del">
          Удалить
        </button>
      </template>
      
      <div slot="content-title" class="c-form__row-item">
        <p class="c-form__title">{{ modal.title }} баннер</p>
        <span class="c-form__label"><strong>Мероприятие:</strong></span>
        <div class="c-form__row" v-if="this.$route.params.id">
          <span class="c-form__label">{{ this.$route.params.name }}</span>
          <span class="c-form__label">{{ this.$route.params.date }}</span>
        </div>
        <div class="c-form__row" v-if="event">
          <span class="c-form__label">{{ event.name }}</span>
          <span class="c-form__label">{{ event.date | moment }}</span>
        </div>
      </div>
      
      <template slot="content">
        <div class="c-form__row-item">
          <label class="c-form__label" for="title-banner">Заголовок ( {{ length.title - banner.title.length }} )</label>
          <input class="c-form__input" v-model="banner.title" :maxlength="length.title" :class="{ error: validate === 'title' }" @focus="validate = null" id="title-banner" type="text" required>
          <transition name="drop">
            <div v-if="validate === 'title'" class="c-form__drop-error">
              Введите допустимое количество символов
            </div>
          </transition>
        </div>

        <div class="l-row">
          
          <div class="l-col--md-6">

            <div class="c-form__row-item">
              <label class="c-form__label" for="text-banner">Текст ( {{ length.text - banner.text.length }} )</label>
              <textarea 
                class="c-form__input" 
                id="text-event" 
                rows="8" 
                style="max-width: 100%;" 
                v-model="banner.text" 
                :maxlength="length.text" 
                :class="{ error: validate === 'text' }" 
                @focus="validate = null" 
                required
              ></textarea>
              <transition name="drop">
                <div v-if="validate === 'text'" class="c-form__drop-error">
                  Введите допустимое количество символов
                </div>
              </transition>
            </div>

          </div>
          
          <div class="l-col--md-6">

            <div class="c-form__row-item">
              <p class="c-form__label">Фон баннера ( 1920 х 600 )</p>
              <label class="c-form__dragdrop material-icons" v-if="!banner.img">
                <input 
                  type="file" 
                  @change="fileChange" 
                  accept="image/*" 
                  name="file"
                >
              </label>
              <div 
                class="c-form__dragdrop-image material-icons" 
                v-if="banner.img" 
                :style="{ 'background-image': `url('${$root.$http.$options.root?$root.$http.$options.root:''}/${banner.img}')`}"
                @click="resetFile"
              ></div>
            </div>

          </div>

        </div>
      </template>
    </modal>
	</div>
</template>

<script>
import hero from '@/components/header'
import menuNavigation from '@/components/menu'
import modal from '@/components/modal'

export default {
	name: 'Banners',
	data () {
		return {
			error: null,
			locat: null,
			modal: {
				show: null
			},
			banner: {
				id: null,
        eventId: null,
				title: null,
				text: null,
				img: null,
				index: null,
        order: null
			},
      length: {
        title: 30,
        text: 160
      },
      event: null,
      events: [],
      validate: null
    }
	},
	props: {
    user: {
      type: Object
    },
    scrollWidth: null
  },
  mounted () {
    this.init( () => {
      if (this.$route.params.id) {
        if (this.$route.params.bannerId !== '') {
          this.banner.id = this.$route.params.bannerId;
          this.createInputContent();
          this.showModal('update', 'Редактировать');
          return false;
        }

        this.banner.title = this.$route.params.name;
        this.banner.text = '';
        this.showModal('update', 'Сделать');
      }
    });
  },
  methods: {
    init (param) {
      this.loadBanners(this.getEvents, param);
    },
    getEvents(param) {
      let options = {
        params: {
          count: 1000
        }
      }
      this.$root.$http.get('api/events', options).then(response => {
        this.events = response.body.event;
        return param();
      }, error => {
        this.error = error.body.error
      })
    },
  	loadBanners (event, param) {
  		this.$root.$http.get('api/banner?d=' + Math.random()).then(response => {
  			if (!!response.body) {
  				this.locat = response.body.banners;
          return event && event(param);
  			}
  		}, error => {

  		})
  	},
  	cleanData() {
  		_.each(this.banner, (value, key) => {
        this.banner[key] = null;
      })

      _.each(this.$route.params, (value, key) => {
        this.$route.params[key] = null;
      })
  	},
    showModal (modal, title) {
      this.modal.show = modal;
      this.modal.title = title;
      document.body.style.cssText = 'overflow: hidden; margin-right:' + this.scrollWidth + 'px';
    },
    closeModal () {
      this.modal.show = null;
      this.modal.title = null;
      document.body.style.cssText = null;
    },
    updateBanner () {

    	let options = {
        event: this.$route.params.id,
    		_id: this.banner.id,
    		title: this.banner.title,
    		text: this.banner.text,
    		img: this.banner.img,
        order: this.banner.order,
        active: true
    	}

      if ( (this.length.title - this.banner.title.length) < 0 ) {
        this.validate = 'title';
        return false;
      }

      if ( (this.length.text - this.banner.text.length) < 0 ) {
        this.validate = 'text';
        return false;
      }

      if (options.order === null) {
        if (this.locat.length <= 0) {
          options.order = 0;
        } else {
          options.order = (_.maxBy(this.locat, el => el.order)).order + 1;
        }
      }

    	_.each(options, function(value, key) {
        if (options[key] === null || options[key] === undefined) {
          delete options[key];
        }
      });

      if(!this.$route.params.id) {
        options.event = this.banner.eventId
      }

      this.$root.$http.post('api/banner', options).then(response => {
      	this.loadBanners();
      	this.closeModal();
      	this.cleanData();
      }, error => {
      	this.error = error.body.error;
      });
    },
    createInputContent () {
    	this.banner.index = _.findIndex(this.locat, x => { return x._id === this.banner.id });

      this.banner.eventId = this.locat[this.banner.index].event;
    	this.banner.title = this.locat[this.banner.index].title;
    	this.banner.text = this.locat[this.banner.index].text;
      this.banner.img = this.locat[this.banner.index].img;
    	this.banner.order = this.locat[this.banner.index].order;
    },
    createEventInfo () {
      let obj = _.find(this.events, { _id: this.banner.eventId });
      this.event = obj;
    },
    deleteBanner () {
    	let options = {
    		_id: this.banner.id
    	}

    	this.$root.$http.post('api/delbanner', options).then(response => {
    		this.loadBanners();
    		this.closeModal();
    		this.cleanData();
    	}, error => {
    		this.error = error.body.error;
    	})
    },
    fileChange (event) {
      let formData = new FormData();

      if (!event.target.files.length) return;

      formData.append('file', event.target.files[0], event.target.files[0].name);

      this.$root.$http.post('api/upload', formData).then(response => {
        this.banner.img = response.body.filename;
      }, error => {
        this.error = response.body.error;
      })
    },
    resetFile () {
      this.banner.img = '';
    },
    upOrder (id) {
      let indexObj = _.findIndex(this.sortedArray, x => { return x._id === id }),
          orderCur = this.sortedArray[indexObj].order,
          prevObj = this.sortedArray[indexObj - 1],
          orderPrev = prevObj.order;

      this.banner.id = id;

      this.createInputContent();
      this.createEventInfo();

      this.banner.order = orderPrev;

      this.updateBanner();

      this.banner.id = prevObj._id;

      this.createInputContent();
      this.createEventInfo();

      this.banner.order = orderCur;

      this.updateBanner();
    },
    downOrder (id) {
      let indexObj = _.findIndex(this.sortedArray, x => { return x._id === id }),
          orderCur = this.sortedArray[indexObj].order,
          nextObj = this.sortedArray[indexObj + 1],
          orderNext = nextObj.order;

      this.banner.id = id;

      this.createInputContent();
      this.createEventInfo();

      this.banner.order = orderNext;

      this.updateBanner();

      this.banner.id = nextObj._id;

      this.createInputContent();
      this.createEventInfo();

      this.banner.order = orderCur;

      this.updateBanner();
    }
  },
  computed: {
  	isAdmin () {
      return this.user.role === 'admin';
    },
    sortedArray () {
      if (!this.locat) return [];
      return this.locat.sort( (a, b) => a.order > b.order ? 1 : -1);
    }
  },
  watch: {
    'banner.title': function() {
      if (this.banner.title && this.banner.title.length > Math.round(this.length.title / 2)) {
        this.length.text = 160;
      } else {
        this.length.text = 270;
      }
    },
  },
  components: {
  	hero, 
  	menuNavigation,
    modal
  },
  filters: {
    moment (date) {
      return moment(date).format("DD.MM.YYYY");
    }
  }
}
</script>