<template>
  <div class="l-container--sm">
    <div class="c-form__inner">
        <a :href="href" class="c-form__btn" type="submit">Войти через Microsoft</a>

        <form action="" method="" @submit.prevent="sendForm">
          <input type="text" v-model="email">
          <input type="text" v-model="password">
          <input type="submit">
        </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Form',
  data () {
    return {
      email: '',
      password: '',
      error: null,
      user: null
    }
  },
  props: {
    href: {
      type: ''
    }
  },
  methods: {
    sendForm () {
      this.$root.$http.post('login', {
        email: this.email,
        password: this.password
      }).then(response => {
        if (response.body.user._id) {
          this.user = response.body.user;
          this.$emit('login', this.user);
          this.$router.push({ name: 'List' });
        } else {
          this.error = 'Произошла ошибка на сервере, попробуйте позже'
        }
      }, error => {
        this.error = 'Неверное имя пользователя или пароль'
      })
    },
    getMe () {
      if(this.$route.fullPath != '/getlink' ) {
        let time = new Date();
        this.$root.$http.get('getme', {params: { time: time.toISOString() }}).then(response => {
          this.user = response.body.user;
            if (this.user && this.user._id) {
              this.$router.push({ name: 'List' });
            } 
          }, error => {
        });
      }
    }
  },
  created () {
    this.getMe();
  }
}
</script>
