<template>
	<div class="c-header">
    <div class="l-container">
      <div class="l-row">
        <div class="l-col--xs-6">
          <div class="c-header__col--left">
            <slot name="header-title"></slot>
          </div>
        </div>
        <div class="l-col--xs-6">
          <div class="c-header__col--right">
            <p class="c-header__admin">{{ user.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: 'header',
	props: {
		user: {
			type: Object
		}
	}
}
</script>