<template>
  <div class="c-list__wrapper">
    <hero :user="user">
      <p slot="header-title" class="c-header__title">Календарь вебинаров Microsoft Россия</p>
    </hero>
    <menuNavigation v-if="isAdmin" :active="$route.name"></menuNavigation>
    <div class="l-container">
      <div class="c-list__section">
        <div class="c-list__col--left">
          <p class="c-list__subtitle">
            25&nbsp;числа каждого месяца в&nbsp;квартальную сетку попадают только мероприятия со&nbsp;статусом Approved
          </p>
        </div>
      </div>
      <div class="c-list__section">
        <div class="c-list__col--left">
          <div class="c-list__btn-wrapper">
            <button class="c-list__btn c-list__btn--main" @click="showModal('update');">Добавить мероприятие</button>
            <a class="c-list__btn c-list__btn--main" download :href="$root.$http.$options.root?`${$root.$http.$options.root}/api/excel`:'/api/excel'">Экспорт в Excel</a>
            <transition name="fade">
              <button class="c-list__btn c-list__btn--sec" v-if="selectedEvents.length > 0" @click="showModal('message')">Сообщение</button>
            </transition>
            <transition name="fade">
              <button class="c-list__btn c-list__btn--sec" v-if="selectedEvents.length > 0" @click="deleteMassEvent">Удалить</button>
            </transition>
          </div>
        </div>
      </div>
      <div class="c-list__section">
        <table class="c-list c-list--mob-fix">
          <tr class="c-list__row c-list__row--head">
            <td class="c-list__col c-list__col--sm c-list__item" v-if="isAdmin">
              <div class="c-list-dropbox__item">
                <input type="checkbox" id="all-check" v-model="selectAllEvents">
                <label for="all-check"></label>
              </div>
            </td>
            <td class="c-list__col c-list__item" style="width: 11%;">
              <p class="c-list__table-text c-list-dropbox__btn"
                @click="toggleFilters('status')"
                :class="{ open: dropbox.flag === 'status' }"
              >Статус</p>
              <transition name="drop-left">
                <div v-if="dropbox.flag === 'status'" class="c-list-dropbox">
                  <ul class="c-list-dropbox__list">
                    <li v-for="item in statuses" class="c-list-dropbox__item">
                      <input type="checkbox" :id="`status-${item}`" v-model="filters.filtersStatus" :value="item" @change="loadData(1)">
                      <label :for="`status-${item}`" class="nowrap">{{ statusDict[item] }}</label>
                    </li>
                  </ul>
                </div>
              </transition>  
            </td> 
            <td class="c-list__col c-list__col--sm c-list__item">
              <p class="c-list__table-text c-list-sort__link material-icons" 
                :class="{ bottom: sort.value === '-quarter', show: sort.value === 'quarter' || sort.value === '-quarter' }" 
                @click="toggleSort('quarter'); loadData(pagination.currentPage);"
              >Q</p>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text c-list-sort__link" 
                :class="{ bottom: sort.value === '-date', show: sort.value === 'date' || sort.value === '-date' }" 
                @click="toggleSort('date'); loadData(pagination.currentPage)"
              >Дата</p>
            </td>
            <td class="c-list__col c-list__col--lg c-list__item">
              <p class="c-list__table-text c-list-sort__link" 
                :class="{ bottom: sort.value === '-name', show: sort.value === 'name' || sort.value === '-name' }"
                @click="toggleSort('name'); loadData(pagination.currentPage);"
              >Название</p>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text c-list-dropbox__btn" 
                @click="toggleFilters('segment')" 
                :class="{ open: dropbox.flag === 'segment' }"
              >Сегмент</p>
              <transition name="drop-left">
                <div v-if="dropbox.flag === 'segment' " class="c-list-dropbox">
                  <ul class="c-list-dropbox__list">
                    <li v-for="segm in locData.segment" v-if="!segm.deleted" class="c-list-dropbox__item">
                      <input type="checkbox" :id="segm._id" v-model="filters.filtersSegment" :value="segm._id" @change="loadData(1)">
                      <label :for="segm._id">{{ segm.name }}</label>
                    </li>
                  </ul>
                </div>
              </transition>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text c-list-dropbox__btn" 
                @click="toggleFilters('audience')" 
                :class="{ open: dropbox.flag === 'audience' }"
              >Аудитория</p>
              <transition name="drop-left">
                <div v-if="dropbox.flag === 'audience' " class="c-list-dropbox">
                  <ul class="c-list-dropbox__list">
                    <li v-for="audi in locData.audience" v-if="!audi.deleted" class="c-list-dropbox__item">
                      <input type="checkbox" :id="audi._id" v-model="filters.filtersAudi" :value="audi._id" @change="loadData(1)">
                      <label :for="audi._id">{{ audi.name }}</label>
                    </li>
                  </ul>
                </div>
              </transition>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text c-list-dropbox__btn" 
                @click="toggleFilters('product')" 
                :class="{ open: dropbox.flag === 'product' }"
              >Продукт</p>
              <transition name="drop-left">
                <div v-if="dropbox.flag === 'product' " class="c-list-dropbox">
                  <ul class="c-list-dropbox__list">
                    <li v-for="prod in locData.product" v-if="!prod.deleted" class="c-list-dropbox__item">
                      <input type="checkbox" :id="prod._id" v-model="filters.filtersProd" :value="prod._id" @change="loadData(1)">
                      <label :for="prod._id">{{ prod.name }}</label>
                    </li>
                  </ul>
                </div>
              </transition>
            </td>
            <td class="c-list__col c-list__col--lg c-list__item">
              <p 
                class="c-list__table-text c-list-dropbox__btn"
                @click="toggleFilters('gep')"
                :class="{ open: dropbox.flag === 'gep' }"
              >
                GEP-name
              </p>
              <transition name="drop-left">
                <div v-if="dropbox.flag === 'gep'" class="c-list-dropbox">
                  <ul class="c-list-dropbox__list">
                    <li v-for="item in locData.gep" v-if="!item.deleted" class="c-list-dropbox__item">
                      <input type="checkbox" :id="item._id" v-model="filters.filtersGepName" :value="item._id" @change="loadData(1)">
                      <label :for="item._id">{{ item.name }}</label>
                    </li>
                  </ul>
                </div>
              </transition>
            </td>
            <td class="c-list__col c-list__col--lg c-list__item">
              <p class="c-list__table-text c-list-dropbox__btn" 
                @click="toggleFilters('owner')" 
                :class="{ open: dropbox.flag === 'owner' }"
              >Владелец</p>
              <transition name="drop-left">
                <div v-if="dropbox.flag === 'owner' " class="c-list-dropbox">
                  <ul class="c-list-dropbox__list">
                    <li v-for="user in users" class="c-list-dropbox__item">
                      <input type="checkbox" :id="user._id" v-model="filters.filtersUsers" :value="user._id" @change="loadData(1)">
                      <label :for="user._id">{{ user.name }}</label>
                    </li>
                  </ul>
                </div>
              </transition>
            </td>
            <td class="c-list__col c-list__col--sm c-list__item">
              <p class="c-list__table-text">Ссылки</p>
            </td>
            <td class="c-list__col c-list__col--sm c-list__item">
              <p class="c-list__table-text">Баннер</p>
            </td>
          </tr>
          <tr 
            v-for="( item, index ) in locat" 
            class="c-list__row" 
            :class="{ 'duplicated': item.duplicated, 'even': index % 2 === 0 }"
            v-if="!item.deleted"
            @click="event.id = item._id; event.status = item.status; createContentInput(); showModal('update');"
          >
            <td class="c-list__col c-list__col--sm c-list__item" v-if="isAdmin">
              <div class="c-list-dropbox__item">
                <input 
                  type="checkbox" 
                  :id="item._id"
                  :value="item._id" 
                  v-model="selectedEvents"
                  @click.stop
                >
                <label v-bind:for="item._id" @click.stop></label>
              </div>
            </td>
            <td class="c-list__col c-list__item" style="width: 11%;">
              <p 
                class="c-list__table-text c-list__table-text--status"
                :class="{ 
                  'c-list__table-text--status-dr': item.status === 'draft',
                  'c-list__table-text--status-to': item.status === 'to approve',
                  'c-list__table-text--status-ap': item.status === 'approved',
                  'c-list__table-text--status-gu': item.status === 'locked',
                  'c-list__table-text--status-re': item.status === 'rejected',
                  'c-list__table-text--status-pu': item.status === 'published'
                }"
              >
                {{ statusDict[item.status] }}
              </p>
            </td>
            <td class="c-list__col c-list__col--sm c-list__item">
              <p class="c-list__table-text">{{ item.quarter }}</p>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text">{{ item.date | moment }}</p>
            </td>
            <td class="c-list__col c-list__col--lg c-list__item">
              <p class="c-list__table-text">{{ item.name }}</p>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text">{{ item.segment.map(function(n) {return n.name}).join('/') }}</p>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text">{{ item.audience.map(function(n) {return n.name}).join('/') }}</p>
            </td>
            <td class="c-list__col c-list__col--md c-list__item">
              <p class="c-list__table-text">{{ item.product.map(function(n) {return n.name}).join('/') }}</p>
            </td>
            <td class="c-list__col c-list__col--lg c-list__item">
              <p v-if="item.gep && item.gepflag" class="c-list__table-text">{{ item.gep.name }}</p>
            </td>
            <td class="c-list__col c-list__col--lg c-list__item">
              <div class="nowrap">
                <p class="c-list__table-text">{{ item.owner.name }}</p>
                <button 
                  v-if="isAdmin"
                  @click.stop="showModal('updateOwner'); event.id = item._id; createContentInput();" 
                  class="c-list__edit" 
                  title="Редактировать"
                >
                &#xe254;
                </button>
              </div>
            </td>
            <td class="c-list__col c-list__col--sm c-list__item">
              <a class="c-form__link" target="_blank" @click.stop v-if="item.url" :href="item.url" title="Посадочная страница">LP</a>
              <a class="c-form__link" target="_blank" @click.stop v-if="item.materials" :href="item.materials" title="Материалы">M</a>
            </td>
            <td class="c-list__col c-list__col--sm c-list__item">
              <p v-if="item.banner !== ''" class="c-form__mark material-icons">done</p>
            </td>
          </tr>
        </table>
      </div>
      <pagination
        v-if="pagination.totalEvents > pagination.perPage"
        :current="pagination.currentPage" 
        :total="pagination.totalEvents" 
        :perPage="pagination.perPage" 
        @page-changed="loadData"
      ></pagination>
    </div>
    <modal v-if="modal.show === 'update'" @close="closeModal(); cleanData();">
      <template slot="nav-btn">
        <button 
          class="c-modal__nav-btn" 
          @click="modal.tab = 'admin'"
          :class="{ 'active': modal.tab === 'admin', 'error': validate && modal.tab === 'client' }"
        >
          Основная
          <transition name="drop">
            <div v-if="validate && modal.tab === 'client'" class="c-form__drop-error">
              Заполните поля
            </div>  
          </transition>
        </button>
        <button 
          class="c-modal__nav-btn" 
          @click="modal.tab = 'client'"
          :class="{ 'active': modal.tab === 'client' }"
        >
          Для сайта
        </button>
      </template>

      <template slot="control-save" v-if="!event.deleted">
        <input
          v-if="!event.id || ((isAdmin || isOwner) && (isDraft || isRejected))" 
          class="c-modal__nav-btn c-modal__nav-btn--save" 
          type="submit" 
          @click="updateEvent" 
          value="Сохранить правки"
        >
      </template>

      <template slot="control-status" v-if="!event.deleted">
        <button 
          class="c-modal__nav-btn c-modal__nav-btn--approve"
          v-if="isDraft && (isAdmin || isOwner)"
          @click="toApproveEvent" 
        >
          На утверждение
        </button>
        <template v-if="isToApprove && isAdmin">
          <button 
            class="c-modal__nav-btn c-modal__nav-btn--approve"
            @click="approveEvent"
          >
            Утвердить
          </button>
          <button 
            class="c-modal__nav-btn c-modal__nav-btn--approve"
            @click="rejectEvent"
          >
            Отклонить
          </button>
        </template>
        <button 
          class="c-modal__nav-btn c-modal__nav-btn--approve"
          v-if="isRejected && isAdmin" 
          @click="toApproveEvent"
        >
          На утверждение
        </button>
        <template v-if="isApprove">
          <button 
            class="c-modal__nav-btn c-modal__nav-btn--approve"
            v-if="isAdmin" 
            @click="publishEvent"
          >
            Опубликовать
          </button>
          <button 
            class="c-modal__nav-btn c-modal__nav-btn--approve"
            v-if="isAdmin" 
            @click="rejectEvent"
          >
            Отклонить
          </button>
        </template>
        <template v-if="isPublished">
          <button 
            class="c-modal__nav-btn c-modal__nav-btn--approve"
            v-if="isOwner || isAdmin" 
            @click="guardEvent"
          >
            Защитить
          </button>
          <button 
            class="c-modal__nav-btn c-modal__nav-btn--approve"
            v-if="isAdmin" 
            @click="rejectEvent"
          >
            Отклонить
          </button>
        </template>
        <button 
          class="c-modal__nav-btn c-modal__nav-btn--approve"
          v-if="isAdmin && isLocked" 
          @click="rejectEvent"
        >
          Отклонить
        </button>
      </template>

      <template slot="control-del" v-if="!event.deleted">
        <button 
          class="c-modal__nav-btn c-modal__nav-btn--del"
          v-if="(isAdmin || isOwner) && (isDraft || isRejected)"
          @click="deleteEvent"
        >Удалить</button>
      </template>

      <template slot="control-del" v-if="event.deleted">
        <button class="c-modal__nav-btn c-modal__nav-btn--restore">
          Восстановить
        </button>
      </template>

      <template slot="content-title">
        <p class="c-form__label c-form__label--status" v-if="event.status">
          <span
          :class="{ 
            'c-form__label--status-dr': isDraft,
            'c-form__label--status-to': isToApprove,
            'c-form__label--status-ap': isApprove,
            'c-form__label--status-gu': isLocked,
            'c-form__label--status-re': isRejected,
            'c-form__label--status-pu': isPublished
          }"
          >{{ statusDict[event.status] }}</span>
        </p>
      </template>


      <template slot="content-btn-banner">
        <button 
          class="c-modal__nav-btn" 
          v-if="event.banner === '' && isAdmin && (isApprove || isLocked)"
          @click="routeToBanner(event.id, event.name, event.date, event.banner)"
        >
          Сделать баннер
        </button>

        <button 
          class="c-modal__nav-btn"
          v-if="event.banner !== '' && isAdmin && (isApprove || isLocked)"
          @click="routeToBanner(event.id, event.name, event.date, event.banner)"
        >
          Редактировать баннер
        </button>
      </template>

      <p slot="error" v-if="error" class="c-form__label--error">{{ error }}</p>

      <template slot="content">
        <transition name="modal">
          <div class="c-modal__content" v-if="modal.tab === 'admin'" :class="{ disabled: (isToApprove || isApprove || isLocked || isPublished) }">
            <div class="l-row">
              <div class="l-col--md-6">

                <div class="c-form__row-item">
                  <label class="c-form__label" for="name-event">Название мероприятия<sup class="required">&#x1f7b6;</sup></label>
                  <input class="c-form__input" :class="{ error: validate === 'name' }" @focus="validate = null" v-model="event.name" id="name-event" type="text" required>
                  <transition name="drop">
                    <div v-if="validate === 'name'" class="c-form__drop-error">
                      Заполните название мероприятия
                    </div>  
                  </transition>
                </div>

                <div class="c-form__row-item">
                  <p class="c-form__label">Продукт<sup class="required">&#x1f7b6;</sup></p>
                  <div class="c-list-dropbox__btn-wrapper">
                    <button 
                      class="c-list-dropbox__btn c-form__select-dropbox" 
                      @click="validate = null; toggleFilters('product-update')" 
                      :class="{ open: dropbox.flag === 'product-update', error: validate === 'product' }"
                    >
                      <span v-if="event.product.length > 0" class="c-form__check c-form__check--checkbox"></span>
                      <template v-if="dropbox.product.length > 0">{{ _.join(dropbox.product, ', ') }}</template>
                    </button>
                    <transition name="drop">
                      <div v-if="dropbox.flag === 'product-update'" class="c-list-dropbox">
                        <ul class="c-list-dropbox__list">
                          <li v-for="prod in locData.product" v-if="!prod.deleted" class="c-list-dropbox__item">
                            <input type="checkbox" :id="prod._id" v-model="event.product" :value="prod._id" name="prod-radio">
                            <label :for="prod._id">{{ prod.name }}</label>
                          </li>
                        </ul>
                      </div>
                    </transition>
                    <transition name="drop">
                      <div v-if="validate === 'product'" class="c-form__drop-error">
                        Выберите продукт
                      </div>
                    </transition>
                  </div>
                </div>

                <div class="c-form__row-item">
                  <p class="c-form__label">Сегмент<sup class="required">&#x1f7b6;</sup></p>
                  <div class="c-list-dropbox__btn-wrapper">
                    <button 
                      class="c-list-dropbox__btn c-form__select-dropbox" 
                      @click="validate = null; toggleFilters('segm-update')" 
                      :class="{ open: dropbox.flag === 'segm-update', error: validate === 'segment' }"
                    >
                      <span v-if="event.segment.length > 0" class="c-form__check c-form__check--checkbox"></span>
                      <template v-if="dropbox.segment.length > 0">{{ _.join(dropbox.segment, ', ') }}</template>
                    </button>
                    <transition name="drop">
                      <div v-if="dropbox.flag === 'segm-update'" class="c-list-dropbox">
                        <ul class="c-list-dropbox__list">
                          <li v-for="segm in locData.segment" v-if="!segm.deleted" class="c-list-dropbox__item">
                            <input type="checkbox" :id="segm._id" v-model="event.segment" :value="segm._id" name="segm-radio">
                            <label :for="segm._id">{{ segm.name }}</label>
                          </li>
                        </ul>
                      </div>
                    </transition>
                    <transition name="drop">
                      <div v-if="validate === 'segment'" class="c-form__drop-error">
                        Выберите сегмент
                      </div>
                    </transition>
                  </div>
                </div>

                
                <div class="c-form__row-item">
                  <div class="l-row">
                    <div class="l-col--md-6">
                      <p class="c-form__label">Платное промо</p>

                      <div class="c-form__item-wrapper" :class="{ 'disabled': event.closed }">
                        <div class="l-row">

                          <div class="l-col--xs-6">
                            <div class="c-form__item">
                              <input v-model="event.budget" :value="true" id="budget-true" type="radio">
                              <label for="budget-true">Да</label>
                            </div>
                          </div>

                          <div class="l-col--xs-6">
                            <div class="c-form__item">
                              <input v-model="event.budget" :value="false" id="budget-false" type="radio">
                              <label for="budget-false">Нет</label>
                            </div>
                          </div>

                        </div>
                      </div> 

                    </div>
                    <div class="l-col--md-6">
                      <p class="c-form__label">GEP</p>

                      <div class="c-form__item-wrapper">
                        <div class="l-row">

                          <div class="l-col--xs-6">
                            <div class="c-form__item">
                              <input v-model="event.gepflag" :value="true" id="gep-true" type="radio">
                              <label for="gep-true">Да</label>
                            </div>
                          </div>
                          
                          <div class="l-col--xs-6">
                            <div class="c-form__item">
                              <input v-model="event.gepflag" :value="false" id="gep-false" type="radio">
                              <label for="gep-false">Нет</label>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div> 
                </div>
                
                <transition name="fade">
                <div class="c-form__row-item" v-if="!event.budget || event.gepflag">
                  <div class="l-row">
                    <transition name="fade">
                    <div class="l-col--md-6" v-if="!event.budget">
                      <p class="c-form__label">Закрытое</p>

                      <div class="c-form__item-wrapper">
                        <div class="l-row">
                          
                          <div class="l-col--xs-6">
                            <div class="c-form__item">
                              <input v-model="event.closed" :value="true" id="closed-true" type="radio">
                              <label for="closed-true">Да</label>
                            </div>
                          </div>
                          
                          <div class="l-col--xs-6">
                            <div class="c-form__item">
                              <input v-model="event.closed" :value="false" id="closed-false" type="radio">
                              <label for="closed-false">Нет</label>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    </transition>

                    <transition name="fade">
                    <div class="l-col--md-6" v-if="event.gepflag">
                      <p class="c-form__label">GEP-name</p>
                      <div class="c-list-dropbox__btn-wrapper">
                        <button
                          class="c-list-dropbox__btn c-form__select-dropbox"
                          @click="validate = null; toggleFilters('gep-update')"
                          :class="{ 'open': dropbox.flag === 'gep-update', error: validate === 'gep-name' }"
                          >
                            <span v-if="event.gep" class="c-form__check"></span>
                            <template v-if="event.gep">{{ dropbox.gep }}</template>
                        </button>
                        <transition name="drop">
                          <div v-if="dropbox.flag === 'gep-update'" class="c-list-dropbox">
                            <ul class="c-list-dropbox__list">
                              <li v-for="item in locData.gep" v-if="!item.deleted" class="c-list-dropbox__item">
                                <input type="radio" :id="item._id" v-model="event.gep" :value="item._id" name="gep-radio" @change="toggleFilters(''); selectedType(item.type)">
                                <label :for="item._id">{{ item.name }}</label>
                              </li>
                            </ul>
                          </div>
                        </transition>
                        <transition name="drop">
                          <div v-if="validate === 'gep-name'" class="c-form__drop-error">
                            Выберите GEP-name
                          </div>
                        </transition>
                      </div>
                    </div>
                    </transition>
                  </div>
                </div>
                </transition>

                <div class="c-form__row-item">
                  <label class="c-form__label" for="trackName-id">GEP Track name</label>
                  <input class="c-form__input"  v-model="event.trackName" id="trackName-id" type="text">
                </div>

                <div class="c-form__row-item">
                  <label class="c-form__label" for="url-lp">Посадочная страница<sup class="required">&#x1f7b6;</sup></label>
                  <input class="c-form__input" :class="{ error: validate === 'url' }" v-model="event.url" @focus="validate = null" id="url-lp" type="text">
                  <transition name="drop">
                    <div v-if="validate === 'url'" class="c-form__drop-error">
                      Заполните посадочную страницу
                    </div>  
                  </transition>
                </div>

                <div class="c-form__row-item">
                  <label class="c-form__label" for="eventId-event">Marketo Program Name</label>
                  <input class="c-form__input" id="eventId-event" type="text" v-model="event.eventId">
                </div>

                <div class="c-form__row-item">
                  <div class="c-form__label"><sup class="required">&#x1f7b6;</sup> - обязательные поля</div>
                </div>

              </div>
              <div class="l-col--md-6">
                
                <div class="c-form__row-item">
                  <label class="c-form__label" for="date-event">Дата проведения<sup class="required">&#x1f7b6;</sup></label>
                  <input class="c-form__input" :class="{ error: validate === 'date' }" @focus="validate = null" type="text" id="date-event" v-model="event.date" v-mask="'##.##.####'" placeholder="--.--.----" required>
                  <transition name="drop">
                    <div v-if="validate === 'date'" class="c-form__drop-error">
                      Заполните дату проведения мероприятия
                    </div>  
                  </transition>
                </div>

                <div class="c-form__row-item">
                  <p class="c-form__label">Индустрия<sup class="required">&#x1f7b6;</sup></p>
                  <div class="c-list-dropbox__btn-wrapper">
                    <button 
                      class="c-list-dropbox__btn c-form__select-dropbox" 
                      @click="validate = null; toggleFilters('industry-update')" 
                      :class="{ open: dropbox.flag === 'industry-update', error: validate === 'industry' }"
                    >
                      <span v-if="event.industry.length > 0" class="c-form__check c-form__check--checkbox"></span>
                      <template v-if="dropbox.industry.length > 0">{{ _.join(dropbox.industry, ', ') }}</template>
                    </button>
                    <transition name="drop">
                      <div v-if="dropbox.flag === 'industry-update'" class="c-list-dropbox">
                        <ul class="c-list-dropbox__list">
                          <li v-for="ind in locData.industry" v-if="!ind.deleted" class="c-list-dropbox__item">
                            <input type="checkbox" :id="ind._id" v-model="event.industry" :value="ind._id" name="ind-radio">
                            <label :for="ind._id">{{ ind.name }}</label>
                          </li>
                        </ul>
                      </div>
                    </transition>
                    <transition name="drop">
                      <div v-if="validate === 'industry'" class="c-form__drop-error">
                        Выберите индустрию
                      </div>
                    </transition>
                  </div>
                </div>

                <div class="c-form__row-item">
                  <p class="c-form__label">Аудитория<sup class="required">&#x1f7b6;</sup></p>
                  <div class="c-list-dropbox__btn-wrapper">
                    <button 
                      class="c-list-dropbox__btn c-form__select-dropbox" 
                      @click="validate = null; toggleFilters('audience-update')" 
                      :class="{ open: dropbox.flag === 'audience-update', error: validate === 'audience' }"
                    >
                      <span v-if="event.audience.length > 0" class="c-form__check c-form__check--checkbox"></span>
                      <template v-if="dropbox.audience.length > 0">{{ _.join(dropbox.audience, ', ') }}</template>
                    </button>
                    <transition name="drop">
                      <div v-if="dropbox.flag === 'audience-update'" class="c-list-dropbox">
                        <ul class="c-list-dropbox__list">
                          <li v-for="audi in locData.audience" v-if="!audi.deleted" class="c-list-dropbox__item">
                            <input type="checkbox" :id="audi._id" v-model="event.audience" :value="audi._id" name="audi-radio">
                            <label :for="audi._id">{{ audi.name }}</label>
                          </li>
                        </ul>
                      </div>
                    </transition>
                    <transition name="drop">
                      <div v-if="validate === 'audience'" class="c-form__drop-error">
                        Выберите аудиторию
                      </div>
                    </transition> 
                  </div>
                </div>
                
                <div class="c-form__row-item">
                  <label class="c-form__label" for="target-event">Кол-во участников<sup class="required">&#x1f7b6;</sup></label>
                  <input class="c-form__input" :class="{ error: validate === 'target' }" @focus="validate = null" id="target-event" v-model.number="event.target" type="number" required>
                  <transition name="drop">
                    <div v-if="validate === 'target'" class="c-form__drop-error">
                      Заполните количество участников
                    </div>
                  </transition>
                </div>
                
                <div class="c-form__row-item">
                  <label class="c-form__label" for="materials-lp">Материалы</label>
                  <input class="c-form__input" :class="{ error: validate === 'materials' }" @focus="validate = null" v-model="event.materials" id="materials-lp" type="text" placeholder="URL папки на OneDrive">
                  <transition name="drop">
                    <div v-if="validate === 'materials'" class="c-form__drop-error">
                      Заполните материалы
                    </div>
                  </transition>
                </div>

                <div class="c-form__row-item">
                  <label class="c-form__label" for="allocadia-id">Allocadia ID<sup class="required">&#x1f7b6;</sup></label>
                  <input class="c-form__input" :class="{ error: validate === 'allocadia' }" @focus="validate = null" v-model="event.allocadia" v-mask="'######'" id="allocadia-id" type="materials">
                  <transition name="drop">
                    <div v-if="validate === 'allocadia'" class="c-form__drop-error">
                      Заполните Allocadia ID
                    </div>
                  </transition>
                </div>

              </div>
            </div>
          </div>
        </transition>
        <transition name="modal">
          <div class="c-modal__content" v-if="modal.tab === 'client'" :class="{ disabled: (isToApprove || isApprove || isLocked || isPublished) }">
            <div class="l-row">
              
              <div class="l-col--md-6">
                
                <div class="c-form__row-item">
                  <label class="c-form__label" v-if="!!event.text" for="text-event">Описание мероприятия ({{ length.text - event.text.length }})</label>
                  <label class="c-form__label" v-else for="text-event">Описание мероприятия ({{ length.text }})</label>
                  <textarea 
                    class="c-form__input" 
                    rows="8" 
                    style="max-width: 100%;" 
                    v-model="event.text" 
                    id="text-event"
                    :maxlength="length.text"
                  ></textarea>
                </div>
                
                <div class="c-form__row-item">
                  <label class="c-form__label" for="description-id">Описание на&nbsp;LP вебинара</label>
                  <textarea 
                    class="c-form__input" 
                    rows="8" 
                    style="max-width: 100%;" 
                    v-model="event.description" 
                    id="description-id"
                  ></textarea>
                </div>

                <div class="c-form__row-item">
                  <label class="c-form__label" for="time-event">Время проведения</label>
                  <input class="c-form__input" type="text" v-model="event.time" v-mask="'##:##'" id="time-event" placeholder="--:--">
                </div>

                <div class="c-form__row-item">
                  <label class="c-form__label" for="duration-event">Длительность мероприятия</label>
                  <input class="c-form__input" type="text" v-model="event.duration" v-mask="'# ч. ## мин.'" id="duration-event" placeholder="- ч. -- мин.">
                </div>
                
              </div>

              <div class="l-col--md-6">

                <div class="c-form__row-item">
                  <label class="c-form__label" for="agenda-id">Адженда</label>
                  <textarea 
                    class="c-form__input" 
                    rows="8" 
                    style="max-width: 100%;" 
                    v-model="event.agenda" 
                    id="agenda-id"
                  ></textarea>
                </div>
                
                <div class="c-form__row-item">
                  <p class="c-form__label">Картинка мероприятия ( 360 х 170 )</p>
                  <label class="c-form__dragdrop material-icons" v-if="!event.image">
                    <input 
                      type="file" 
                      @change="fileChange" 
                      accept="image/*" 
                      name="file"
                    >
                  </label>
                  <div 
                    class="c-form__dragdrop-image material-icons" 
                    v-if="event.image" 
                    :style="{ 'background-image': `url('${$root.$http.$options.root?$root.$http.$options.root:''}/${event.image}')`}"
                    @click="resetFile"
                  ></div>
                </div>

                <div class="c-form__row-item">
                  <label class="c-form__label">Спикеры (макс 4, фото 100 х 100, должность {{ length.post - speaker.post.length }})</label>
                  <template v-if="event.speakers.length < 4">
                    <div class="l-flex-row" v-if="!event.id || ((isDraft || isRejected) && (isAdmin || isOwner))">
                      <label v-if="!speaker.img" class="c-form__dragdrop c-form__dragdrop--sm material-icons">
                        <input 
                          type="file"
                          accept="image/*"
                          @change='changeSpeakerImg'
                          name="file" 
                        >
                      </label>
                      <div 
                        v-if="speaker.img"
                        class="c-form__dragdrop-image c-form__dragdrop-image--sm material-icons"
                        :style="{ 'background-image': `url('${$root.$http.$options.root?$root.$http.$options.root:''}/${speaker.img}')`}"
                        @click="resetSpeakerImg"
                      ></div>
                      <input class="c-form__input c-form__input--speaker" v-model="speaker.name" type="text" placeholder="Имя Фамилия" @keyup.enter="addSpeaker">
                      <input class="c-form__input c-form__input--speaker" v-model="speaker.post" :maxlength="length.post" type="text" placeholder="Должность">
                      <button class="c-modal__nav-btn c-modal__nav-btn--add-icon material-icons" @click="addSpeaker" title="Добавить спикера">add</button>
                    </div>
                  </template>

                  <div class="l-flex-row" v-for="item in event.speakers">
                    <div 
                      v-if="item.img"
                      class="c-form__dragdrop-image c-form__dragdrop-image--sm c-form__dragdrop-image--sm-static material-icons"
                      :style="{ 'background-image': `url('${$root.$http.$options.root?$root.$http.$options.root:''}/${item.img}')`}"
                    ></div>
                    <div style="width: 85%;">
                      <p class="c-text__row">{{ item.name }}</p>
                      <p class="c-text__row">{{ item.post }}</p>
                    </div>
                    <button v-if="item && (isAdmin || isOwner) && (isDraft || isRejected)" class="c-modal__nav-btn c-modal__nav-btn--del-icon material-icons" @click="deleteSpeaker(item)" title="Удалить спикера">clear</button>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </transition>
      </template>
    </modal>
    <modal v-if="modal.show === 'message'" @close="closeModal" :small="true">
      <input
        slot="nav-btn" 
        class="c-modal__nav-btn c-modal__nav-btn--save" 
        type="submit" 
        @click="sendMessage" 
        value="Отправить"
      >

      <p slot="content-title" class="c-form__title">Сообщение владельцам мероприятий</p>

      <textarea slot="content" class="c-form__input" rows="8" style="max-width: 100%;" v-model="message" id="text-event"></textarea>
    </modal>
    <modal v-if="modal.show === 'updateOwner'" @close="closeModal(); cleanData();" :small="true">
      <input slot="nav-btn" class="c-modal__nav-btn c-modal__nav-btn--save" type="submit" @click="updateOwner" value="Сохранить">

      <p slot="content-title" class="c-form__title">Редактировать владельца</p>

      <div slot="content" class="c-form__row-item">
        <div class="c-list-dropbox__btn-wrapper">
          <button 
            class="c-form__label c-list-dropbox__btn c-form__select-dropbox" 
            @click="toggleFilters('owner-update')" 
            :class="{ open: dropbox.flag === 'owner-update' }"
          >
            <span v-if="event.owner" class="c-form__check"></span>
            Owner<template v-if="dropbox.users">: {{ dropbox.users }}</template>
          </button>
          <transition name="drop">
            <div v-if="dropbox.flag === 'owner-update'" class="c-list-dropbox">
              <ul class="c-list-dropbox__list">
                <li v-for="user in users" class="c-list-dropbox__item">
                  <input type="radio" :id="user._id" v-model="event.owner" :value="user._id" name="user-radio">
                  <label :for="user._id">{{ user.name }}</label>
                </li>
              </ul>
            </div>
          </transition>
        </div>
      </div>
    </modal>
  </div>
</template>


<script>
import hero from '@/components/header'
import menuNavigation from '@/components/menu'
import pagination from '@/components/Pagination'
import modal from '@/components/modal'

export default {
  name: 'List',
  data () {
    return {
      users: null,
      locat: null,
      error: null,
      pagination: {
        totalEvents: 0,
        perPage: 10,   
        currentPage: 1
      },
      modal: {
        show: null,
        tab: 'admin'
      },
      locData: {
        segment: null,
        audience: null,
        product: null,
        gep: null,
        industry: null,
        types: null,
        type: null
      },
      dropbox: {
        flag: null,
        gep: null,
        industry: [],
        audience: [],
        product: [],
        segment: [],
        users: null
      },
      filters: {
        filtersProd: [],
        filtersAudi: [],
        filtersGepName: [],
        filtersSegment: [],
        filtersUsers: [],
        filtersIndustry: [],
        filtersStatus: [],
        filtersGep: null,
        filtersBudget: null
      },
      sort: {
        value: 'date',
        flag: true
      },
      event: {
        id: null,
        index: null,
        eventId: null,
        name: null,
        gep: null,
        target: null,
        url: null,
        materials: null,
        date: null,
        owner: null,
        image: null,
        time: null,
        duration: null,
        text: '',
        status: null,
        allocadia: null,
        banner: null,
        description: null,
        trackName: null,
        agenda: null,

        gepflag: false,
        budget: false,
        deleted: false,
        closed: false,

        audience: [],
        product: [],
        industry: [],
        segment: [],
        speakers: [
          {
            name: null,
            img: null,
            post: null
          }
        ]
      },
      statuses: [
        'draft',
        'locked',
        'to approve',
        'approved',
        'published',
        'rejected'
      ],
      statusDict: {
        'draft': 'Черновик',
        'locked': 'Защищено',
        'to approve': 'На утверждении',
        'approved': 'Утверждено',
        'published': 'Опубликовано',
        'rejected': 'Отклонено'
      },
      selectedEvents: [],
      message: '',
      banners: null,
      speaker: {
        name: null,
        img: null,
        post: ''
      },
      validate: null,
      length: {
        post: 100,
        text: 200
      }
    }
  },
  props: {
    user: {
      type: Object
    },
    scrollWidth: null
  },
  created () {
    this.init( () => {
      let id = this.$route.query.id;
      if (id) {
        this.event.id = id;
        let obj = _.find(this.locat, el => el._id === id);
        
        this.event.status = obj.status;
        this.createContentInput();
        this.showModal('update');
      }
    });
    document.addEventListener('click', this.dropboxStateMng);
  },
  beforeDestroy () {
    document.removeEventListener('click', this.dropboxStateMng);
  },
  methods: {
    init (param) {
      this.loadData(this.pagination.currentPage, this.getTypes, this.getUsers, this.getBanners, param);
    },
    loadData (page, types, users, banners,  param) {
      let filters = {
        audience: { $in: this.filters.filtersAudi }, 
        product: { $in: this.filters.filtersProd },
        gep: { $in: this.filters.filtersGepName },
        segment: { $in: this.filters.filtersSegment },
        owner: { $in: this.filters.filtersUsers },
        industry: { $in: this.filters.filtersIndustry },
        status: { $in: this.filters.filtersStatus },
        gepflag: this.filters.filtersGep,
        budget: this.filters.filtersBudget,
      };

      if (filters.gepflag === null) {
        delete filters.gepflag
      }

      if (filters.budget === null) {
        delete filters.budget
      }

      let options = {
        params: {
          page: page - 1 ,
          count: this.pagination.perPage,
          eventCount: this.pagination.totalEvents,
          filters: filters,
          sort: this.sort.value
        }
      };

      if(this.$route.query.id) {
        options.params.id = this.$route.query.id;
      }

      this.$root.$http.get('api/events?d='+ Math.random(), options).then(response => {
        if(!!response.body) {
          this.locat = response.body.event;
          this.pagination.totalEvents = response.body.eventCount;
          this.pagination.currentPage = page;
          return types && types(users, banners, param);
        }
      }, error => {
        this.error = error.body.error;
      });
    },
    getBanners (param) {
      this.$root.$http.get('api/banner').then(response => {
        if (!!response.body) {
          this.banners = response.body.banners
          return param();
        }
      }, error => {
        this.error = error.body.error
      })
    },
    getUsers (banners, param) {
      this.$root.$http.get('api/users').then(response => {
        this.users = response.body.users;
        return banners(param)
      }, error => {
        this.error = 'Произошла ошибка на сервере, попробуйте позже';
      });
    },
    getTypes (users, banners, param) {
      this.$root.$http.get('api/types').then(response => {
        this.locData.types = response.body.types;
        this.getAllTypes();
        return users(banners, param)
      }, error => {
        this.error = error.body.error
      });
    },
    getAllTypes () {
      let array = this.locData.types;
      for (let i = 0; i < array.length; i++) {
        let type = array[i];

        this.$root.$http.get('api/catalog/' + type).then(response => {
          this.locData[type] = response.body[type];
        }, error => {
          this.error = error.body.error;
        });
      }
    },
    cleanData () {
      _.each(this.event, (value, key) => {
        this.event[key] = null;
      });

      this.validate = null;

      this.speaker = {
        name: null,
        img: null,
        post: ''
      };

      this.event.budget = false;
      this.event.gepflag = false;
      this.event.closed = false;
      
      this.event.audience = [];
      this.event.industry = [];
      this.event.product = [];
      this.event.segment = [];
      this.event.speakers = [];

      this.event.text = '';
    },
    createContentInput () {
      this.event.index = _.findIndex(this.locat, x => { return x._id == this.event.id });

      this.event.eventId = this.locat[this.event.index].eventId;
      this.event.date = moment(this.locat[this.event.index].date).format('DD.MM.YYYY');

      if (this.locat[this.event.index].gep) {
        this.event.gep = this.locat[this.event.index].gep._id;
        this.dropbox.gep = this.locat[this.event.index].gep.name;
      }

      this.event.audience = this.locat[this.event.index].audience.map(function(id) {return id._id});

      this.event.product = this.locat[this.event.index].product.map(function(id) {return id._id});

      this.event.industry = this.locat[this.event.index].industry.map(function(id) {return id._id});

      this.event.segment = this.locat[this.event.index].segment.map(function(id) {return id._id});

      this.event.speakers = this.locat[this.event.index].speakers;

      this.event.target = this.locat[this.event.index].target;
      this.event.budget = this.locat[this.event.index].budget;
      this.event.closed = this.locat[this.event.index].closed;
      this.event.deleted = this.locat[this.event.index].deleted;
      this.event.gepflag = this.locat[this.event.index].gepflag;
      this.event.name = this.locat[this.event.index].name;
      this.event.url = this.locat[this.event.index].url;
      this.event.materials = this.locat[this.event.index].materials;
      this.event.owner = this.locat[this.event.index].owner._id;
      this.event.image = this.locat[this.event.index].image;
      this.event.time = this.locat[this.event.index].time;
      this.event.duration = this.locat[this.event.index].duration;
      this.event.text = this.locat[this.event.index].text;
      this.event.banner = this.locat[this.event.index].banner;
      this.event.allocadia = this.locat[this.event.index].allocadiaId;
      this.event.description = this.locat[this.event.index].description;
      this.event.agenda = this.locat[this.event.index].agenda;
      this.event.trackName = this.locat[this.event.index].trackName;
    },
    checkEvent() {
      let options = {
        params: {
          date: moment(this.event.date, 'DD.MM.YYYY').utc().format("YYYY-MM-DD HH:mm:ss.SSS[Z]"),
          segment: this.event.segment,
          product: this.event.product,
          industry: this.event.industry
        }
      }

      this.$root.$http.get('api/checkevent', options).then(response => {
      }, error => {

      })
    },
    updateEvent () {
      let options = {
        _id: this.event.id,
        eventId: this.event.eventId,
        name: this.event.name,
        audience: this.event.audience,
        product: this.event.product,
        gepflag: this.event.gepflag,
        gep: this.event.gep,
        target: this.event.target,
        budget: this.event.budget,
        closed: this.event.closed,
        url: this.event.url,
        materials: this.event.materials,
        segment: this.event.segment,
        date: moment(this.event.date, 'DD.MM.YYYY').format('MM.DD.YYYY'),
        industry: this.event.industry,
        owner: this.user._id,
        image: this.event.image,
        time: this.event.time,
        duration: this.event.duration,
        text: this.event.text,
        speakers: this.event.speakers,
        allocadiaId: this.event.allocadia,
        description: this.event.description,
        trackName: this.event.trackName,
        agenda: this.event.agenda
      };

      if (!this.validateEvent(options)) {
        return false;
      }

      _.each(options, function(value, key) {
        if (options[key] === null || options[key] === undefined) {
          delete options[key];
        }
      });

      this.checkEvent();

      this.$root.$http.post('api/event', JSON.stringify(options)).then(response => {
        this.cleanData();
        this.loadData(this.pagination.currentPage);
        this.closeModal();
      }, error => {
        this.error = error.body.error;
      });
    },
    validateEvent(obj) {
      if (!obj.name || obj.name === "") {
        this.validate = 'name';
        return false;
      }

      if (!obj.date || obj.date === "Invalid date") {
        this.validate = 'date';
        return false;
      }

      if (obj.product.length === 0) {
        this.validate = 'product'
        return false;
      }

      if (obj.segment.length === 0) {
        this.validate = 'segment'
        return false;
      }

      if (obj.industry.length === 0) {
        this.validate = 'industry'
        return false;
      }

      if (obj.audience.length === 0) {
        this.validate = 'audience'
        return false;
      }

      if (obj.gepflag && !obj.gep) {
        this.validate = 'gep-name';
        return false;
      }

      if (!obj.url || obj.url === "") {
        this.validate = 'url';
        return false;
      }

      if (!obj.target || obj.target === "") {
        this.validate = 'target';
        return false;
      }

      /*if (!obj.materials || obj.materials === "") {
        this.validate = 'materials';
        return false;
      }*/

      if (!obj.allocadiaId || obj.allocadiaId === "" || obj.allocadiaId.length < 6) {
        this.validate = 'allocadia';
        return false;
      }

      return true;
    },
    deleteEvent () {
      let options = {
        _id: this.event.id
      };

      this.$root.$http.post('api/delevent', options).then(response => {
        this.loadData(this.pagination.currentPage);
        this.closeModal();
        this.cleanData();
      }, error => {
        this.error = error.body.error;
      });
    },
    toggleFilters (filter) {
      this.dropbox.flag = this.dropbox.flag === filter ? null : filter
    },
    toggleSort (sort) {
      this.sort.flag = !this.sort.flag;
      this.sort.flag ? this.sort.value = sort : this.sort.value = '-' + sort
    },
    showModal (modal) {
      this.modal.show = modal;
      document.body.style.cssText = 'overflow: hidden; margin-right:' + this.scrollWidth + 'px';
    },
    closeModal () {
      this.modal.show = null;
      document.body.style.cssText = null;

      if (this.$route.query.id) {
        this.$router.push({ name: 'List' });
      }
    },
    approveEvent () {
      let options = {
        _id: this.event.id
      };

      this.$root.$http.post('api/approve', options).then(response => {
        this.loadData(this.pagination.currentPage);
        this.closeModal();
        this.cleanData();
      }, error => {
        this.error = error.body.error;
      });
    },
    toApproveEvent () {
      let options = {
        _id: this.event.id
      }

      this.$root.$http.post('api/toapprove', options).then(response => {
        this.loadData(this.pagination.currentPage);
        this.closeModal();
        this.cleanData();
      }, error => {
        this.error = error.body.error;
      });
    },
    publishEvent () {
      let options = {
        _id: this.event.id
      }

      this.$root.$http.post('api/publish', options).then(response => {
        this.loadData(this.pagination.currentPage);
        this.closeModal();
        this.cleanData();
      }, error => {
        this.error = error.body.error
      })
    },
    rejectEvent () {
      let options = {
        _id: this.event.id
      }

      this.$root.$http.post('api/reject', options).then(response => {
        this.loadData(this.pagination.currentPage);
        this.closeModal();
        this.cleanData();
      }, error => {
        this.error = error.body.error;
      });
    },
    guardEvent () {
      let options = {
        _id: this.event.id
      }

      this.$root.$http.post('api/guard', options).then(response => {
        this.loadData(this.pagination.currentPage);
        this.closeModal();
        this.cleanData();
      }, error => {
        this.error = error.body.error;
      });
    },
    closeDropbox () {
      this.dropbox.flag = '';
    },
    sendMessage () {
      let options = {
        events: this.selectedEvents,
        message: this.message
      }

      this.$root.$http.post('api/eventmess', options).then(response => {
        this.cleanData();
        this.closeModal();
      }, error => {

      });
    },
    deleteMassEvent () {
      let options = {
        _id: this.selectedEvents
      };

      this.$root.$http.post('api/delevent', JSON.stringify(options)).then(response => {
        this.loadData(this.pagination.currentPage);
      }, error => {
        this.error = error.body.error;
      });
    },
    updateOwner () {
      let options = {
        _id: this.event.id,
        owner: this.event.owner
      }

      this.$root.$http.post('api/owner', options).then(response => {
        this.closeModal();
        this.cleanData();
        this.loadData();
      }, error => {
        this.error = error.body.error;
      })
    },
    fileChange (event) {
      let formData = new FormData();

      if (!event.target.files.length) return;

      formData.append('file', event.target.files[0], event.target.files[0].name);

      this.$root.$http.post('api/upload', formData).then(response => {
        this.event.image = response.body.filename;
      }, error => {
        this.error = response.body.error;
      })
    },
    resetFile () {
      this.event.image = null;
    },
    selectedType (type) {
      let object = _.find(this.locData[type], {_id: this.event[type]});
      this.dropbox[type] = object.name;
    },
    dropboxStateMng (event) {
      let el = event.target;

      if (!$(el).hasClass('c-list-dropbox__btn') && !$(el).parent().hasClass('c-list-dropbox__item')) {
        this.toggleFilters();
      } 
    },
    findNameType(type) {
      let arr = this.event[type];

      this.dropbox[type] = [];

      if (arr.length > 0) {
        for (let i = 0; i < arr.length; i++) {
            this.dropbox[type].push(search(arr[i], this.locData[type]));
          }
        }

      function search(id, array) {
        for (let i = 0; i < array.length; i++) {
          if (array[i]._id === id) {
            return array[i].name;
          }
        }
      }
    },
    findUser() {
      let arr = this.users,
          obj;

      this.dropbox.users = null;

      if (this.event.owner) {
        obj = _.find(arr, x => x._id === this.event.owner);
        this.dropbox.users = obj.name;
      }


    },
    routeToBanner (id, name, date, bannerId) {
      this.$router.replace(
        { 
          name: 'Banners',
          params: { id, name, date, bannerId }
        }
      );
    },
    addSpeaker () {
      if (this.speaker.name) {

        this.event.speakers.push({
          name: this.speaker.name,
          img: this.speaker.img,
          post: this.speaker.post
        })
      }

      _.each(this.speaker, (value, key) => {
        this.speaker[key] = null;
      });

      this.speaker.post = '';
    },
    changeSpeakerImg (event) {
      let formData = new FormData();

      if (!event.target.files.length) return;

      formData.append('file', event.target.files[0], event.target.files[0].name);

      this.$root.$http.post('api/upload', formData).then(response => {
        this.speaker.img = response.body.filename;
      }, error => {
        this.error = response.body.error;
      })
    },
    resetSpeakerImg () {
      this.speaker.img = null;
    },
    deleteSpeaker(speaker) {
      this.event.speakers.splice(this.event.speakers.indexOf(speaker), 1);
    },
    exportExcel () {
      this.$root.$http.get('api/excel').then(response => {
        console.log(response);
      }, error => {

      })
    }
  },
  computed: {
    selectAllEvents: {
      get: function () {
        return this.locat ? this.selectedEvents.length == this.locat.length : false;
      },
      set: function (value) {
        let selected = [];

        if (value) {
          this.locat.forEach(function (event) {
            selected.push(event._id);
          });
        }

        this.selectedEvents = selected;
      }
    },
    isAdmin () {
      return this.user.role === 'admin';
    },
    isOwner () {
      if (this.event.owner) {
        return this.user._id === this.event.owner;
      }
    },
    isDraft () {
      return this.event.status === 'draft'
    },
    isToApprove () {
      return this.event.status === 'to approve'
    },
    isApprove () {
      return this.event.status === 'approved'
    },
    isLocked () {
      return this.event.status === 'locked'
    },
    isRejected () {
      return this.event.status === 'rejected'
    },
    isPublished () {
      return this.event.status === 'published'
    }
  },
  filters: {
    moment (date) {
      return moment(date).format("DD.MM.YYYY");
    }
  },
  watch: {
    'event.audience': function() {
      this.findNameType('audience');
    },
    'event.product': function() {
      this.findNameType('product');
    },
    'event.segment': function() {
      this.findNameType('segment');
    },
    'event.industry': function() {
      this.findNameType('industry');
    },
    'event.gepflag': function() {
      if (!this.event.gepflag) {
        this.event.gep = null;
      }
    },
    'event.owner': function() {
      this.findUser();
    }
  },
  components: {
    hero, 
    menuNavigation, 
    pagination,
    modal
  }
}
</script>