<template>
	<nav class="c-navigation">
    <div class="l-container">
      <ul class="c-navigation__list">
        <li class="c-navigation__item" v-for="item in links">
          <a 
            class="c-navigation__link" 
            :href="item.link"
            :class="{ 'active': active === item.name }"
          >
            {{ item.title }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
	name: 'menuNavigation',
  props: {
    active: {
      type: String,
      default: 'List'
    }
  },
  data() {
    return {
      links: [
        { name: 'List', title: 'Вебинары', link: '/list' },
        { name: 'Types', title: 'Справочники', link: '/types' },
        { name: 'Banners', title: 'Баннеры', link: '/banners' },
        { name: 'Users', title: 'Пользователи', link: '/users' }
      ]
    }
  }
}
</script>