<template>
	<transition name="fade">
    <div class="c-modal__overlay" @click.self="$emit('close')">
      <table class="c-modal__container">
        <tbody>
          <tr>
            <td class="c-modal__wrapper">
              <div class="c-modal" :class="{ 'c-modal--sm': small }">
                <div class="c-modal__head">
                  <div class="c-modal__nav">
                    <slot name="nav-btn"></slot> 
                  </div>
                  <div class="c-modal__control">
                    <slot name="control-save"></slot>
                    <slot name="control-status"></slot>
                    <slot name="control-del"></slot>
                    <button class="c-modal__close" @click="$emit('close')">&#10005;</button>
                  </div>
                </div>
                <div class="c-modal__body">
                  <div class="c-form__wrapper">
                    <div class="c-modal__body-head">
                      <slot name="content-title"></slot>
                      <slot name="content-btn-banner"></slot>
                    </div>
                    <slot name="error"></slot>
                    <slot name="content"></slot> 
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </transition> 
</template>

<script>
export default {
	name: 'Modal',
	props: {
    small: {
      type: Boolean,
      default: false
    }
	}
}
</script>