<template>
	<div class="c-list__wrapper" v-if="isAdmin">
		<hero :title="title" :user="user">
			<p slot="header-title" class="c-header__title">Справочники</p>
		</hero>
		<menuNavigation v-if="isAdmin" :active="navigation"></menuNavigation>
		<div class="l-container--sm">
			<div class="c-list__section">
				<template v-for="type in locData.types">
					<p class="c-list__subtitle c-list__subtitle--types h-mb20">{{ typesDict[type][0] }}</p>
					<table class="c-list">
						<tr class="c-list__row c-list__row--head">
							<td class="c-list__item c-list__col l-col--md-5">
								<p class="c-list__table-text">Наименование</p>
							</td>
							<td class="c-list__item c-list__col l-col--md-5">
								<p class="c-list__table-text">Комментарий</p>
							</td>
							<td class="c-list__item c-list__col l-col--md-2">
								<p class="c-list__table-text">Редактировать</p>
							</td>
						</tr>
						<tr 
							class="c-list__row" 
							v-for="(item, index) in locData[type]" 
							:class="{ 'even': index % 2 === 0, 'deleted': item.deleted }"
							@click="showModal(item.type); modal.title = 'Редактировать'; typeId = item._id; locData.type = item.type; createContentInput(item.type, index);"
						>
							<td class="c-list__item c-list__col l-col--md-5">
								<p class="c-list__table-text">{{ item.value }}</p>
							</td>
							<td class="c-list__item c-list__col l-col--md-5">
								<p class="c-list__table-text">{{ item.comment }}</p>
							</td>
							<td class="c-list__item c-list__col l-col--md-2">
								<button class="c-modal__nav-btn c-modal__nav-btn--del-icon material-icons" v-if="!item.deleted" @click.stop="delType(item._id, item.type)" title="Удалить">clear</button>
								<button class="c-modal__nav-btn c-modal__nav-btn--restore-icon material-icons" v-if="item.deleted" @click.stop="undelType(item._id, item.type)" title="Восстановить">settings_backup_restore</button>
							</td>
						</tr>
					</table>
					<div class="c-list__btn-wrapper">
						<button 
							class="c-list__btn c-list__btn--main c-list__btn--mb-main c-list__btn--mb-sec"
							@click="showModal(type); modal.title = 'Добавить'; locData.type = type;"
						>Добавить {{ typesDict[type][1] }}</button>
					</div>
				</template>
			</div>
		</div>
		<modal v-if="modal.show && modal.show === locData.type" @close="closeModal(); cleanData();" :small="true">
      <input 
      	slot="nav-btn" 
      	class="c-modal__nav-btn c-modal__nav-btn--save" 
      	v-if="isAdmin" 
      	type="submit" 
      	@click="updateType" 
      	value="Сохранить правки"
    	>
			
			<p slot="content-title" class="c-form__title">{{ modal.title }} {{ typesDict[locData.type][1] }}</p>
			
			<template slot="content">
	      <div class="c-form__row-item">
					<label class="c-form__label" for="value-type">Наименование</label>
					<input class="c-form__input" v-model="value" id="value-type" type="text" name="value" required>
				</div>
				<div class="c-form__row-item">
					<label class="c-form__label" for="comment-type">Комментарий</label>
					<input class="c-form__input" v-model="comment" id="comment-type" type="text" name="comment">
				</div>
			</template>
    </modal>
	</div>
</template>

<script>
import hero from '@/components/header'
import menuNavigation from '@/components/menu'
import vueSlider from 'vue-slider-component';
import modal from '@/components/modal'

export default {
	name: 'Types',
	data () {
		return {
			error: null,
			navigation: 'Types',
			modal: {
				show: null,
				title: null
			},
			locData: {
        region: null,
        segment: null,
        audience: null,
        product: null,
        gep: null,
        industry: null,
        types: [],
        type: null
      },
      typeId: null,
      value: '',
      comment: '',
      typesDict: {
        'audience': ['Аудитория', 'аудиторию'],
        'gep': ['GEP', 'GEP'],
        'industry': ['Индустрия', 'индустрию'],
        'product': ['Продукт', 'продукт'],
        'region': ['Регион', 'регион'],
        'segment': ['Сегмент', 'сегмент']
      }
		}
	},
	props: {
    user: {
      type: Object
    },
    scrollWidth: null
  },
  created () {
  	this.init();
  },
  methods: {
  	init () {
    	this.getTypes();
  	},
    getTypes () {
      this.$root.$http.get('api/types').then(response => {
        this.locData.types = response.body.types;
        this.getAllTypes();
      }, error => {
        this.error = error.body.error
      });
    },
    getAllTypes () {
    	let array = this.locData.types;
    	for (let i = 0; i < array.length; i++) {
    		let type = array[i];

    		this.$root.$http.get('api/catalog/' + type + '?d='+ Math.random()).then(response => {
	    		this.locData[type] = response.body[type];
	    	}, error => {
	    		this.error = error.body.error;
	    	});
    	}
    },
    createContentInput(type, index) {
    	this.value = this.locData[type][index].value;
    	this.comment = this.locData[type][index].comment;
    },
    updateType () {
    	let options = {
    		type: this.locData.type,
    		value: this.value,
    		name: this.value,
    		comment: this.comment
    	}

    	if (this.typeId != null) {
        options._id = this.typeId;
      }

    	this.$root.$http.post('api/catalog', options).then(response => {
    		this.getAllTypes();
    		this.closeModal();
    		this.cleanData();
    	}, error => {
    		this.error = error.body.error;
    	})
    },
    cleanData () {
    	this.typeId = null;
    	this.locData.type = null;
    	this.value = null;
    	this.comment = null;
    },
    delType (id, type) {
    	let options = {
    		_id: id,
    		type: type
    	}

    	this.$root.$http.post('api/deletecatalog', options).then(response => {
    		this.getAllTypes();
    	}, error => {
    		this.error = error.body.error
    	})
    },
    undelType (id, type) {
    	let options = {
    		_id: id,
    		type: type
    	}

    	this.$root.$http.post('api/undeletecatalog', options).then(response => {
    		this.getAllTypes();
    	}, error => {
    		this.error = error.body.error
    	})
    },
    showModal (modal) {
      this.modal.show = modal;
      document.body.style.cssText = 'overflow: hidden; margin-right:' + this.scrollWidth + 'px';
    },
    closeModal () {
      this.modal.show = null;
      document.body.style.cssText = null;
    },
    hslToRgb(h, s, l){
	    var r, g, b;

	    if(s == 0){
	        r = g = b = l; // achromatic
	    }else{
	        var hue2rgb = function hue2rgb(p, q, t){
	            if(t < 0) t += 1;
	            if(t > 1) t -= 1;
	            if(t < 1/6) return p + (q - p) * 6 * t;
	            if(t < 1/2) return q;
	            if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
	            return p;
	        }

	        var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
	        var p = 2 * l - q;
	        r = hue2rgb(p, q, h + 1/3);
	        g = hue2rgb(p, q, h);
	        b = hue2rgb(p, q, h - 1/3);
	    }

	    return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
		},
		rgbToHsl(r, g, b){
	    r /= 255, g /= 255, b /= 255;
	    var max = Math.max(r, g, b), min = Math.min(r, g, b);
	    var h, s, l = (max + min) / 2;

	    if(max == min){
	        h = s = 0; // achromatic
	    }else{
	        var d = max - min;
	        s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
	        switch(max){
	            case r: h = (g - b) / d + (g < b ? 6 : 0); break;
	            case g: h = (b - r) / d + 2; break;
	            case b: h = (r - g) / d + 4; break;
	        }
	        h /= 6;
	    }

	    return [h, s, l];
		}
  },
  computed: {
  	isAdmin () {
      return this.user.role === 'admin';
    }
  },
  components: {
  	hero,
  	menuNavigation,
  	vueSlider,
  	modal
  }
}
</script>