<template>
	<div v-if="isAdmin" class="c-list__wrapper">
		<hero :title="title" :user="user">
			<p slot="header-title" class="c-header__title">Пользователи</p>
		</hero>
		<menuNavigation v-if="isAdmin" :active="$route.name"></menuNavigation>
		<div class="l-container--sm">
			<div class="c-list__section">
				<table class="c-list">
					<tr class="c-list__row c-list__row--head">
						<td class="c-list__item c-list__col l-col--md-4">
							<p class="c-list__table-text">Email</p>
						</td>
						<td class="c-list__item c-list__col l-col--md-4">
							<p class="c-list__table-text">Имя</p>
						</td>
						<td class="c-list__item c-list__col l-col--md-4">
							<p class="c-list__table-text">Роль</p>
						</td>
					</tr>
					<tr 
						class="c-list__row" 
						v-for="(item, index) in users" 
						:class="{ 'even': index % 2 === 0 }"
						@click="showModal('update'); userId = item._id; createContentInput();"
					>
						<td class="c-list__item c-list__col c-list__col-md-4">
							<p class="c-list__table-text">{{ item.email }}</p>
						</td>
						<td class="c-list__item c-list__col c-list__col-md-4">
							<p class="c-list__table-text">{{ item.name }}</p>
						</td>
						<td class="c-list__item c-list__col c-list__col-md-4">
							<p class="c-list__table-text">{{ item.role }}</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<modal v-if="modal.show === 'update'" @close="closeModal(); cleanData();" :small="true">
      <input 
      	slot="nav-btn" 
      	class="c-modal__nav-btn c-modal__nav-btn--save" 
      	type="submit" 
      	value="Сохранить правки" 
      	v-if="isAdmin" 
      	@click="updateUser(userId)"
    	>

      <p slot="content-title" class="c-form__title">Редактировать пользователя</p>

      <template slot="content">
      	<div class="c-list-dropbox__btn-wrapper">
					<button 
		        class="c-form__label c-list-dropbox__btn c-form__select-dropbox" 
		        @click="toggleFilters('role-update')" 
		        :class="{ open: dropbox.flag === 'role-update' }"
		      >
		        <span v-if="role != ''" class="c-form__check"></span>
		        Роль<span v-if="role != ''">: {{ role }}</span>
		      </button>
		      <transition name="drop">
		        <div v-if="dropbox.flag === 'role-update'" class="c-list-dropbox">
		          <ul class="c-list-dropbox__list">
		            <li class="c-list-dropbox__item">
		              <input type="radio" id="admin-role" v-model="role" value="admin" name="role-radio" @change="toggleFilters('')">
		              <label for="admin-role">Admin</label>
		            </li>
		            <li class="c-list-dropbox__item">
		              <input type="radio" id="owner-role" v-model="role" value="owner" name="role-radio" @change="toggleFilters('')">
		              <label for="owner-role">Owner</label>
		            </li>
		          </ul>
		        </div>
		      </transition>
				</div>
		    <div v-if="error">{{ error }}</div>
      </template>
    </modal>
	</div>
</template>

<script>
import hero from '@/components/header'
import menuNavigation from '@/components/menu'
import modal from '@/components/modal'

export default {
	name: 'Users',
	data () {
		return {
			users: null,
			error: null,
			userId: null,
			dropbox: {
				flag: null,

			},
			modal: {
				show: null
			},
			indexUser: '',
			email: '',
			password: '',
			role: '',
			name: ''
		}
	},
	props: {
    user: {
      type: Object
    },
    scrollWidth: null
  },
  created () {
  	this.loadUsers();
  	document.addEventListener('click', this.dropboxStateMng)
  },
  beforeDestroy () {
    document.removeEventListener('click', this.dropboxStateMng)
  },
  methods: {
  	loadUsers () {
  		this.$root.$http.get('api/users?d=' + Math.random()).then(response => {
  			this.users = response.body.users;
  		}, error => {
  			this.error = 'Произошла ошибка на сервере, попробуйте позже';
  		});
  	},
  	cleanData () {
  		this.userId = '';
  		this.email = '';
			this.password = '';
			this.role = '';
			this.name = '';
  	},
    createContentInput () {
      this.indexUser = this.users.findIndex(x => x._id == this.userId);
  		this.email = this.users[this.indexUser].email;
  		this.role = this.users[this.indexUser].role;
  		this.name = this.users[this.indexUser].name;
  	},
  	updateUser (id) {
  		this.$root.$http.post('api/user', {
  			_id: id,
  			email: this.email,
  			password: this.password,
  			role: this.role,
  			name: this.name
  		}).then(response => {
  			this.showEdit = false;
  			this.cleanData();
  			this.loadUsers();
  			this.closeModal();
  		}, error => {
				this.error = error.body.error;
  		});
  	},
  	deleteUser (id) {
			this.$root.$http.post('api/deluser', {_id: id}).then(response => {
				this.loadUsers();
			}, error => {
				this.error = error.body.error;
			})
  	},
  	toggleFilters (filter) {
      this.dropbox.flag = this.dropbox.flag === filter ? null : filter
    },
    showModal (modal) {
      this.modal.show = modal;
      document.body.style.cssText = 'overflow: hidden; margin-right:' + this.scrollWidth + 'px';
    },
    closeModal () {
      this.modal.show = null;
      document.body.style.cssText = null;
    },
    dropboxStateMng (event) {
      let el = event.target;

      if (!$(el).hasClass('c-list-dropbox__btn') && !$(el).parent().hasClass('c-list-dropbox__item')) {
        this.toggleFilters();
      } 
    }
  },
  computed: {
  	isAdmin () {
      return this.user.role === 'admin';
    }
  },
  components: {
  	hero, 
  	menuNavigation,
  	modal
  }
}
</script>