.c-form {

	&__wrapper {
		width: 100%;
        background-color: #fff;
        padding: 5%;
	}

    &__inner {
        max-width: 500px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: round(20/36em, 3);
        .fz(36, 44);
    }
    
    &__item {

        input {
            display: none;
        }

        label {
            position: relative;
            padding-left: 25px;
            .fz(14, 17);
            letter-spacing: .01em;
            color: #696a6d;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 19px;
                height: 19px;
                border: 2px solid #a1a1a4;
            }

            &::after {
                display: none;
                content: '';
                position: absolute;
                top: 6px;
                left: 6px;
                width: 8px;
                height: 6px;
                transform: rotate(-45deg);
                border-bottom: 2px solid #fff;
                border-left: 2px solid #fff;
            }
        }
        
        input:checked + label::before {
            background-color: @main-color;
            border-color: @main-color;
        }

        input:checked + label::after {
            display: block;
        }

        &-wrapper {
            padding: 15px 10px;
            border: 1px solid #a1a1a4;
            transition: background .3s;

            &.disabled {
                background-color: #ecf0f1;

                .c-form__item {
                    label,
                    input {
                        pointer-events: none;
                    }
                }
            }
        }
    }

    &__row-item {
        position: relative;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input,
    &__select {
        width: 100%;
        display: inline-block;
        border: 1px solid #a1a1a4;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        outline: none;
        .fz(18, 22);
        font-weight: 300;
        font-family: @base-font;
        letter-spacing: .01em;
        color: #000;

        &:hover {
            background-color: #f5f5f5;
        }

        &:focus {
            background-color: #f5f5f5;
            border-color: @main-color;
            color: @main-color;
        }
    }

    &__input {

        &-wrapper {
            margin: 10px 0;
        }

        &.error {
            border-color: #e74c3c;
        }

        &--speaker {
            width: 40%;

            @media screen and (max-width: @screen-md) {
                width: 100%;
            }
        }
    }

    &__label {
        display: block;
        margin-bottom: 10px; 
        font-size: 16px;
        font-family: @base-font;
        line-height: 1.2;

        &--status {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
            .fz(18, 24);

            span {
                display: inline-block;
                padding: 3px 10px;
                border-radius: 4px;
                color: #fff;
            }

            &-dr {
                background-color: #7f8c8d;
            }

            &-to {
                background-color: #f39c12;
            }

            &-ap {
                background-color: #16a085;
            }

            &-gu {
                background-color: @main-color;
            }

            &-re {
                background-color: #d24d57;
            }

            &-pu {
                background-color: #9b59b6;
            }
        }

        &--error {
            .fz(20, 24);
            font-family: @base-font;
            font-weight: 300;
            color: red;
        }

        strong {
            font-weight: 700;
        }

        .required {
            font-size: 10px;
            color: #e74c3c;
            vertical-align: super;
        }
    }
    
    &__select-dropbox {
        position: relative;
        display: block;
        width: 100%;
        min-height: 51px;
        margin: 0;
        padding: 15px 20px;
        padding-right: 50px;
        background-color: #fff;
        text-align: left;
        border: 1px solid #a1a1a4;
        outline: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        font-family: @base-font;
        line-height: 1.2;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 40px;
            width: 1px;
            background-color: #a1a1a4;
        }

        &::after {
            content: '';
            top: 15px;
            right: 15px;
            width: 10px;
            height: 10px;
        }

        &:hover {
            background-color: #f5f5f5;
        }

        &.open {
            z-index: 2;
            border-color: @main-color;
            color: @main-color;
            
            &::before {
                background-color: @main-color;
            }

            &::after {
                top: 20px;
                border-color: @main-color;
            }
        }

        + .c-list-dropbox {
            top: 100%;
            left: 0;
            right: 0;
            padding: 15px 20px;
            border-top: 0;
        }

        &.error {
            border-color: #e74c3c;

            &::before {
                background-color: #e74c3c;
            }

            &::after {
                border-left: 1px solid #e74c3c;
                border-bottom: 1px solid #e74c3c;
            }
        }
    }

    &__check {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-left: 25px;
        .fz(14, 17);
        letter-spacing: .01em;
        color: #696a6d;
        text-align: left;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 19px;
            height: 19px;
            background-color: @main-color;
            border: 2px solid @main-color;
            border-radius: 50px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 7px;
            left: 7px;
            width: 5px;
            height: 5px;
            background-color: #fff;
            border: 0;
            border-radius: 50px;
            transform: rotate(0);
        }

        &--checkbox {

            &::before {
                border-radius: 0;
            }

            &::after {
                top: 6px;
                left: 6px;
                width: 8px;
                height: 6px;
                transform: rotate(-45deg);
                border-bottom: 2px solid #fff;
                border-left: 2px solid #fff;
                border-radius: 0;
                background-color: transparent;
            }
        }
    }

    &__btn {
        width: 100%;
        text-align: center;
        background-color: transparent;
        padding: 12px 20px;
        margin: 14px 0 8px 0;
        display: inline-block;
        border: 1px solid @main-color;
        .fz(18, 22);
        font-family: @base-font;
        color: @main-color;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: @main-color;
            color: #fff;
        }
    }
    
    &__color {
        margin-bottom: 15px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #a1a1a4;
        outline: 3px solid #fff;
        outline-offset: -4px;
    }

    &__dragdrop {
        display: block;
        position: relative;
        z-index: 1;
        min-height: 200px;
        background: rgba(64, 152, 180, 0.3);
        cursor: pointer;


        &::after {
            content: 'add';
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: @icon-font;
            .fz(54, 54);
            color: #fff;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border: 3px dashed #fff;
        }

        &:hover {
            background: rgba(64, 152, 180, 0.6);
        }

        input {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 200px;
            cursor: pointer;
        }

         &--sm {
            min-width: 50px;
            min-height: 0;

            &::after {
                .fz(20, 20);
            }

            &::before {
                top: 4px;
                right: 4px;
                bottom: 4px;
                left: 4px;
                border-width: 2px;
            }

            input {
                height: 100%;
            }
        }

        &-image {
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: rgba(0,0,0, .3);
            cursor: pointer;
            transition: outline-color .3s ease;

            &::before {
                content: '';
                display: block;
                padding-top: 47.222%;
            }

            &::after {
                opacity: 0;
                content: 'clear';
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: @icon-font;
                .fz(54, 54);
                color: #fff;
                transition: opacity .3s ease;
            }

            &:hover {

                &::before {
                    background-color: rgba(0,0,0, .5);
                }

                &::after {
                    opacity: 1;
                }
            }

            &--sm {
                min-width: 50px;

                &::before {
                    padding-top: 100%;
                }

                &::after {
                    .fz(20, 20);
                }

                &-static {
                    min-width: 40px;
                    cursor: default;
                    margin-right: 10px;

                    &::after {
                        display: none;
                    }

                    &:hover {

                        &::before {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
        padding: 3px;
        .fz(16, 18);
        color: @main-color;

        &:hover {
            text-decoration: none;
            color: #4098b4;
        }
    }

    &__mark {
        display: inline-block;
        padding: 3px;
        background-color: @main-color;
        color: #fff;
    }

    &__drop-error {
        position: absolute;
        z-index: 3;
        left: 0;
        top: calc(~"100% + 13px");
        padding: 10px;
        background-color: #fff;
        border: 1px solid #e74c3c;
        border-radius: 5px;
        background-color: #fdedeb;
        .fz(16, 20);
        color: #e74c3c;

        &::after {
            content: '';
            position: absolute;
            left: 20px;
            top: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 8px 5px;
            border-color: transparent transparent #fdedeb transparent;
        }

        &::before {
            content: '';
            position: absolute;
            left: 20px;
            top: -9px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 8px 5px;
            border-color: transparent transparent #e74c3c transparent;
        }
    }
}

textarea.c-form__input {
    resize: vertical;
}