.c-header {
	background-color: @main-color;
	
	&__col {

		&--left {
			text-align: left;
		}

		&--right {
			text-align: right;
		}
	}

	&__title {
		display: inline-block;
		vertical-align: middle;
		padding: 20px 0;
		.fz(24, 25);
		letter-spacing: .015em;
		font-weight: 300;
		color: #fff;
	}

	&__admin {
		display: inline-block;
		vertical-align: middle;
		padding: 24px 0;
		.fz(16, 17);
		letter-spacing: .01em;
		font-weight: 300;
		color: #fff;
	}

	&-dropdown {
		position: relative;
		display: inline-block;
		padding: 0 37px 0 20px;
		border: 0;
		background-color: transparent;
		font-family: @base-font;
		cursor: pointer;
		outline: none;
		transition: background .3s ease;

		&:hover {
			background-color: #1f81a0;
		}

		&__arrow {
			position: absolute;
			right: 17px;
			top: calc(50% - 8px);
			width: 8px;
			height: 8px;
			border-bottom: 1px solid #fff;
			border-right: 1px solid #fff;
			transform: rotateZ(45deg);
			transition: transform .3s ease, top .3s ease;

			&.open {
				top: 50%;
				transform: rotateZ(225deg);
			}
		}

		&__list {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			padding: 0;
			line-height: 0;
			background-color: @main-color;
		}

		&__item {
			display: block;
			padding: 0;
			line-height: 0;
		}

		&__btn {
			display: block;
			width: 100%;
			padding: 0;
			padding: 10px 0;
			margin: 0;
			border: 0;
			outline: none;
			background-color: transparent;
			.fz(16, 20);
			font-family: @base-font;
			color: #fff;
			cursor: pointer;
			transition: background .3s ease;

			&:hover {
				background-color: #1f81a0;
			}
		}
	}
}