.c-list {
	width: 100%;
	border-bottom: 1px solid @main-color;
	border-collapse: separate;

	&--mob-fix {
		@media (max-width: 1023px) {
			margin-left: -11%;
		}
	}

	&__section {
		padding: 20px 0;
		.clearfix();
	}

	&__item {
		position: relative;
		padding: 10px 0;
		border-left: 1px solid @main-color;
		vertical-align: middle;
		text-align: center;

		&--top-left {
			vertical-align: top;
			text-align: left;
		}

		&:last-child {
			border-right: 1px solid @main-color;
		}
	}

    &__title {
        .fz(54, 65);
        font-weight: 300;
        letter-spacing: .01em;
        color: @text-color;
    }

    &__subtitle {
        .fz(24, 30);
        font-weight: 300;
        color: @text-color;
        
        &--types {
        	text-transform: capitalize;
        	font-weight: 500;
        }
    }

	&__row {
		position: relative;
		margin: 0 -15px;
		cursor: pointer;

		&.even {
			.c-list__item {
				background-color: rgba(228, 228, 228, .5);
			}
			+ .c-list__row--acc {
				background-color: rgba(228, 228, 228, .5);
			}
		}

		&--head {
			cursor: default;

			.c-list__item {
				background-color: @main-color;
				border-left: 1px solid #fff;

				&:first-child {
					border-left-color: @main-color;
				}
			}

			.c-list__table-text {
				color: #fff;
			}

			.c-list-dropbox__btn {

				&::after {
					border-color: #fff;
				}
			}

			.c-list-dropbox__item {
				input:checked + label::before {
					border: 1px solid #fff;
				}
			}

			&.c-list__row:hover {
				.c-list__item {
					background-color: @main-color;
				}
			}
		}

		&.duplicated.c-list__row {
			.c-list__item {
				background-color: rgba(64, 152, 180, .3);
			}

			+ .c-list__row--acc {
				background-color: rgba(64, 152, 180, .3);
			}

			&:hover {
				.c-list__item {
					background-color: rgb(228, 228, 228);
				}
			}
		}

		&.deleted.c-list__row {
			pointer-events: none;

			.c-list__item {
				background-color: #bdc3c7;
				color: #fff;
			}

			+ .c-list__row--acc {
				background-color: #e4e4e4;
			}
		}

		&--acc {
			background-color: #fff;
			border-top: 1px solid @main-color;
			border-bottom: 1px solid @main-color;

			.c-list__item {
				text-align: left;
			}


		}

		&:hover {
			.c-list__item {
				background-color: rgb(228, 228, 228);
			}
		}
	}

	&__col {
		padding-left: 15px;
		padding-right: 15px;
		float: none;

		&--left {
			float: left;
		}

		&--right {
			float: right;
		}

		&--sm {
			width: 3%;
		}

		&--md {
			width: 8%;
		}

		&--lg {
			width: 15%;
		}

		&-md-4 {
			width: 25%;
		}

		&--half {
			width: 50%;
		}

		@media screen and (max-width: @screen-xl) {
			padding-left: 10px;
			padding-right: 10px;
		}

		@media screen and (max-width: @screen-lg) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&-acc {

		&__text {
			display: inline-block;
			vertical-align: middle;
			.fz(14, 17);
			font-weight: 500;

			&--name {
				font-weight: 900;
			}
		}
	}

	&__table-text {
		display: inline-block;
		vertical-align: middle;
		.fz(14, 17);
		font-weight: 500;

		&--status {
			display: block;
			width: 100%;
			height: 100%;
			padding: 3px 10px;
			border-radius: 4px;
			color: #fff;
			white-space: nowrap;

			&-dr {
				background-color: #7f8c8d;
			}

			&-to {
				background-color: #f39c12;
			}

			&-ap {
				background-color: #16a085;
			}

			&-gu {
				background-color: @main-color;
			}

			&-re {
				background-color: #d24d57;
			}

			&-pu {
				background-color: #9b59b6;
			}
		}
	}
	
	&__table-img {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&::after {
			content: '';
			display: block;
			padding-top: 31.25%;
		}
	}

	&__text {
		margin: 10px 0;
		.fz(16, 19);
		font-weight: 500;
	}

	&__link {
		position: relative;
		display: inline-block;
		padding-right: 17px;
		.fz(16, 26);
		font-weight: 100;
		letter-spacing: .05em;
		text-decoration: none;
		color: @main-color;
		outline: none;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 10px;
			height: 10px;
			border-top: 1px solid @main-color;
			border-right: 1px solid @main-color;
			transform: rotateZ(45deg) translateY(-50%);
			transform-origin: 50% 0;
			transition: all .3s ease;
		}
		
		&:hover,
		&:focus {
			
			&::after {
				right: -5px;
			}
		}
	}

	&__delete {
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 0;
		border: 0;
		outline: none;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1;
		color: #000;
		cursor: pointer;
	}
	
	&__edit {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		background-color: transparent;
		border: 0;
		.fz(14, 14);
		font-family: @icon-font;
		color: @main-color;
		outline: none;
		cursor: pointer;

		&:hover {
			color: @text-color;
		}
	}

	&__btn {
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
    display: inline-block;
    border: 1px solid @main-color;
    .fz(18, 22);
    font-weight: 300;
    letter-spacing: .01em;
    font-family: @base-font;
    cursor: pointer;
    outline: none;
		text-decoration: none;

		&-wrapper {
			font-size: 0;

			.c-list__btn {
				margin-right: -1px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&--main {
			background-color: transparent;
			color: @main-color;

			&:hover {
	            background-color: @main-color;
	            color: #fff;
	        }

	        &.c-list__btn--sm {
	        	padding: 5px 10px;
	        }
		}

		&--sec {
			background-color: #35788d;
			color: #fff;

			&:hover {
				background-color: darken(#35788d, 10%);
			}
		}

		&--mb {
			&-main {
				margin: 20px 0;
			}

			&-sec {
				margin-bottom: 40px;
			}
		}
	}

	&__circle {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;

		&--active {
			background-color: #6aa84f;
		}

		&--inactive {
			background-color: #e69138;
		}
	}

	&-modal {
		position: relative;
		max-width: 970px;
		margin: 5% auto 0;

		&__overlay {
			position: fixed;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.5);

			&.show {
				display: block;
			}
		}

		&__close {
			position: absolute;
			top: 15px;
			right: 25px;
			padding: 0;
			border: 0;
			outline: none;
			background-color: transparent;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 1;
			color: @main-color;
			cursor: pointer;
		}
	}

	&-dropbox {
		position: absolute;
		z-index: 1;
		top: calc(~"100% - 1px");
		left: -1px;
		right: -1px;
		min-width: 150px;
		padding: 15px 10px;
		background-color: #fff;
		border: 1px solid @main-color;

		&__btn {
			position: relative;
			display: inline-block;
			padding-right: 10px;
			cursor: pointer;

			&::after {
				content: '';
				position: absolute;
				right: 0;
				top: 5px;
				width: 5px;
				height: 5px;
				border-left: 1px solid #000;
				border-bottom: 1px solid #000;
				transform: rotateZ(-45deg);
				transition: transform .3s ease, top .3s ease;
			}

			&.open {
				&::after {
					top: 8px;
					transform: rotateZ(135deg);
				}
			}

			&-wrapper {
				position: relative;
			}
		}

		&__list {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		&__item {
	        display: block;
	        margin-bottom: 10px;
	        text-align: left;

	        &:last-child {
	        	margin-bottom: 0;
	        }

	        input {
	            display: none;
	        }

	        label {
	            position: relative;
	            display: inline-block;
	            vertical-align: top;
	            padding-left: 25px;
	            .fz(14, 17);
	            letter-spacing: .01em;
	            color: #696a6d;
	            text-align: left;

	            &::before {
	                content: '';
	                position: absolute;
	                top: 0;
	                left: 0;
	                width: 19px;
	                height: 19px;
	                border: 2px solid #a1a1a4;
	            }

	            &::after {
	                display: none;
	                content: '';
	                position: absolute;
	                top: 6px;
	                left: 6px;
	                width: 8px;
	                height: 6px;
	                transform: rotate(-45deg);
	                border-bottom: 2px solid #fff;
	                border-left: 2px solid #fff;
	            }
	        }
	        
	        input[type="radio"] + label {
				&::before {
					border-radius: 50px;
				}

				&::after {
					top: 7px;
					left: 7px;
					width: 5px;
					height: 5px;
					background-color: #fff;
					border: 0;
					border-radius: 50px;
					transform: rotate(0);
				}
	        }

	        input:checked + label::before {
	            background-color: @main-color;
	            border-color: @main-color;
	        }

	        input:checked + label::after {
	            display: block;
	        }
	    }

	    &__wrapper {
	    	position: relative;
	    	display: inline-block;
			vertical-align: top;
	    }
	}

	&-sort {

		&__link {
			position: relative;
			display: inline-block;
			font-family: @base-font;
			border-bottom: 1px solid #fff;
			cursor: pointer;

			&::after {
				display: none;
				content: '\2191';
				position: absolute;
				right: -12px;
				top: 0;
			}

			&.bottom {
				&::after {
					content: '\2193';
				}
			}

			&.show {
				margin-right: 12px;

				&::after {
					display: block;
				}
			}
		}
	}

	&-dropdown {
		position: relative;
		cursor: pointer;
		.fz(24, 30);

		&__list {
			position: absolute;
			z-index: 1;
			top: 100%;
			right: 0;
			padding: 0;
			line-height: 0;
		    background-color: #fff;
		    border: 1px solid #025670;
		}

		&__item {
			display: block;
	        margin-bottom: 10px;
	        padding: 0;

	        &:last-child {
	        	margin-bottom: 0;
	        }
		}

		&__btn {
			display: inline-block;
			width: 100%;
			margin: 0;
			padding: 7px 10px;
			border: 0;
			outline: none;
			background-color: transparent;
			.fz(14, 17);
			font-family: @base-font;
            font-weight: 300;
            letter-spacing: .01em;
            color: #696a6d;
			text-align: left;
			cursor: pointer;
			text-decoration: none;
			white-space: nowrap;

			&:hover {
				background-color: @main-color;
				color: #fff;
			}
		}
	}

	&__order {
		line-height: 0;

		&-arrow {
			display: block;
			margin-bottom: 5px;
			padding: 0;
			background-color: transparent;
			border: 0;
			outline: none;
			padding: 0;
			width: 0;
			height: 0;
			border-style: solid;
			cursor: pointer;

			&:last-child {
				margin-bottom: 0;
			}

			&--top {
				border-width: 0 7px 15px 7px;
				border-color: transparent transparent @main-color transparent;
			}

			&--bot {
				border-width: 15px 7px 0 7px;
				border-color: @main-color transparent transparent transparent;
			}
		}
	}
}