.c-modal {
	position: relative;
	width: 970px;
	margin: 0 auto;

	@media screen and (max-width: @screen-md) {
		width: 100%;
	}

	&--sm {
		width: 485px;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 0;
		background-color: rgba(0,0,0,.5);
		border: 0;
		border-collapse: collapse;
		overflow: auto;
		overflow-y: scroll;
	}

	&__container {
		height: 100%;
		margin: 0 auto;
		border-collapse: collapse;
		border-spacing: 0;
	}

	&__wrapper {
		padding: 24px;
		margin: 0;
		border: 0;
		vertical-align: middle;
	}
	
	&__content {

		&.disabled {

			.c-form__row-item {

				.c-form__input {
					background-color: #ecf0f1;
					/* pointer-events: none; */
				}

				.c-form__label {
					pointer-events: none;
				}

				.c-form__select-dropbox {
					background-color: #ecf0f1;
				}

				.c-list-dropbox {
					background-color: #ecf0f1;

					.c-list-dropbox__item {
						input,
						label {
							pointer-events: none;
						}
					}
				}

				.c-form__item-wrapper {
					background-color: #ecf0f1;

					.c-form__item {
						label,
						input {
							pointer-events: none;
						}
					}
				}

				.c-form__dragdrop-image {
					pointer-events: none;
				}

				.c-form__dragdrop {
					pointer-events: none;

					&::after {
						display: none;
					}
				}
			}
		}
	}

	&__close {
		padding: 15px;
		border: 0;
		outline: none;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 1;
		color: #fff;
		cursor: pointer;
	}

	&__body {
		position: relative;

		&-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		background-color: rgba(64, 152, 180, 1);
	}
	
	&__control {
		display: flex;
	}

	&__nav {
		position: relative;
		display: flex;

		&-btn {
			display: inline-block;
      text-align: center;
      padding: 15px 30px;
      background-color: lighten(@main-color, 10%);
      border: 0;
      .fz(18, 22);
      font-weight: 300;
      letter-spacing: .01em;
      font-family: @base-font;
    	color: #fff;
      cursor: pointer;
      outline: none;

      &:hover {
      	background-color: @main-color;
      }

      &.active {
      	background-color: #fff;
      	color: @main-color;
      }

      &.error {
      	background-color: #e74c3c;
      }

      &--save {
      	margin: 7px 4px;
      	padding: 7px 30px;
      	background-color: @main-color;
      	.fz(16, 22);
      	color: #fff;

      	&:hover {
      		background-color: #fff;
      		color: @main-color;
      	}
      }

      &--del {
      	margin: 7px 4px;
      	padding: 7px 30px;
      	background-color: #d24d57;
      	.fz(16, 22);
      	color: #fff;

      	&:hover {
      		background-color: #fff;
      		color: @main-color;
      	}

      	&-icon {
      		display: inline-block;
      		vertical-align: middle;
      		padding: 3px;
      		background-color: #d24d57;
      		.fz(18, 22);
      		font-family: @icon-font;

      		&:hover {
      			background-color: darken(#d24d57, 10%)
      		}
      	}
      }

      &--approve {
      	margin: 7px 4px;
      	padding: 7px 30px;
      	.fz(16, 22);

      	&:hover {
      		background-color: #fff;
      		color: @main-color;
      	}
      }
			
			&--restore {
				margin: 7px 4px;
	        	padding: 7px 30px;
	        	background-color: #16a085;
	        	border: 1px solid darken(#16a085, 10%);
	        	.fz(16, 22);
	        	color: #fff;

	        	&:hover {
	        		background-color: darken(#16a085, 10%);
	        	}
			}

	        &--restore-icon {
	        	display: inline-block;
        		vertical-align: middle;
        		padding: 3px;
        		background-color: #16a085;
        		.fz(18, 22);
        		font-family: @icon-font;
        		pointer-events: all;

	        	&:hover {
        			background-color: darken(#16a085, 10%)
        		}
	        }

	        &--add-icon {
	        	min-width: 40px;
	        	display: inline-block;
	        	vertical-align: middle;
	        	padding: 3px;
	        	background-color: @main-color;
	        	.fz(20, 24);
	        	font-family: @icon-font;

	        	&:hover {
	        		background-color: darken(@main-color, 10%);
	        	}
	        }
		}
	}
}