.c-navigation {
	background-color: #4098b4;
	border-bottom: 3px solid #025670;

	&__list {
		padding: 0;
		margin: 0;
		line-height: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		line-height: 0;
	}

	&__link {
		display: block;
		padding: 11px 15px;
		.fz (14, 16);
		font-family: @base-font;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		border-left: 1px solid #4098b4;
		border-right: 1px solid #4098b4;

		&:hover,
		&:focus,
		&.active {
			background-color: @main-color;
		}

		&.active {
			pointer-events: none;
		}
	}
}