.c-pagination {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;

	&__left,
	&__right {
		width: 20%;
	}

	&__left {
		float: left;
	}

	&__right {
		float: right;

		a {
			float: right;
		}
	}

	&__mid {
		display: flex;
		justify-content: center;
		width: 60%;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			display: inline-block;
			vertical-align: middle;
		}
	}

	a {
		display: inline-block;
		vertical-align: middle;
		padding: 7px 15px;
		background-color: transparent;
		border: 1px solid @main-color;
		.fz(18, 22);
		font-weight: 300;
		letter-spacing: .01em;
		color: @main-color;
		text-decoration: none;

		&:hover {
			background-color: #35788d;
			color: #fff;
		}

		&.current {
			background-color: @main-color;
			color: #fff;
		}

		&.disabled {
			background-color: #fff;
			color: #fff;
		}
	}
}