.c-text {

	&__row {
		width: 100%;
		display: block;
		.fz(14, 18);
        font-weight: 300;
        font-family: @base-font;
        letter-spacing: .01em;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}