<template>
  <div id="app">
  	<router-view 
  		:user = "user"
      :href = "href"
      :scrollWidth = "scrollWidth"
  	></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
  	return {
  		user: {
        role: 'guest'
      },
      href: '',
      scrollWidth: null
  	}
  },
  mounted () {
  	this.getMe();
    this.getScrollBarWidth();
  },
  methods: {
    getMe () {
      if(this.$route.fullPath != '/getlink' ) {
        let time = new Date();
        this.$root.$http.get('getme', {params: { time: time.toISOString() }}).then(response => {
          this.user = response.body.user;
            if (!this.user || !this.user._id) {
              this.getLink();
              this.$router.push({ name: 'Form' });
            }
          }, error => {
            this.getLink();
            this.$router.push({ name: 'Form' });
        });
      }
    },
    getLink () {
      let options = {
        params: {
          url: this.$route.fullPath
        }
      }
      this.$root.$http.get('getlink', options).then(response => {
        this.href = response.body;
      },  error => {

      })
    },
    getScrollBarWidth () {
      let inner = document.createElement('p');
      inner.style.width = "100%";
      inner.style.height = "200px";

      let outer = document.createElement('div');
      outer.style.position = "absolute";
      outer.style.top = "0px";
      outer.style.left = "0px";
      outer.style.visibility = "hidden";
      outer.style.width = "200px";
      outer.style.height = "150px";
      outer.style.overflow = "hidden";
      outer.appendChild (inner);

      document.body.appendChild (outer);
      let w1 = inner.offsetWidth;
      outer.style.overflow = 'scroll';
      let w2 = inner.offsetWidth;
      if (w1 == w2) w2 = outer.clientWidth;

      document.body.removeChild (outer);

      this.scrollWidth = (w1 - w2);
    },
  }
}
</script>

<style lang="less">
@import 'less/style';
</style>